<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p>Vũng Tàu là thành phố thuộc tỉnh Bà Rịa - Vũng Tàu, ở vùng Đông Nam Bộ, Việt Nam. Có 4 mặt
           giáp biển và sông rạch. Thành phố Vũng Tàu có diện tích đất tự nhiên là 14.442 ha. Cách trung
           tâm thành phố Hồ Chí Minh 100km. Đây là một thành phố biển có 42 km bờ biển bao quanh cùng
           với các cánh rừng nguyên sinh, các ngọn núi cao, ngoài ra còn có sông và nhiều hồ nước lớn
           giúp khí hậu nơi đây quanh năm mát mẻ ôn hòa. Người dân tỉnh Bà Rịa – Vũng Tàu có đời sống
           văn hóa, phong tục tập quán, nghệ thuật tôn giáo, tín ngưỡng… rất phong phú và đa dạng. Chính
           vì thế nơi đây chính là một trong những điểm thu hút lượng khách du lịch lớn nhất cả nước.
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">
        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection19 _articleBody20 _url8">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/thich-ca-phat-dai.webp">
        </span>
        <meta id="_articleBody28" itemprop="articleBody" content="Cánh đồng cừu suối Nghệ thuộc huyện Châu Đức, cách thành phố Vũng Tàu khoảng 70km. </P>
                         </FIGURE>
                         <P>Đúng như tên gọi của nơi này, điều thú vị đầu tiên của Suối Nghệ chính là những chú cừu. Nơi này có một số đàn cừu nhỏ lẻ được người dân chăn thả trên cánh đồng. Số lượng cừu ở đây khoảng vài trăm con, cả cừu lớn và cừu nhỏ. Ở nước ta, cừu không phải là động vật phổ biến, do đó không phải ai cũng có dịp được nhìn thấy cừu tận mắt và sờ vào bộ lông dày, mềm mịn của chúng.</P>
                         <P>Đây là khu vực lí tưởng của giới trẻ và các cặp đôi chụp ảnh cưới chọn đến. Một bức ảnh nô đùa cùng với đàn cừu sẽ khiến những người bạn của bạn &quot;trầm trồ&quot; đấy!">
        <h2 id="_articleSection5" itemprop="articleSection">1. Những địa điểm không thể bỏ qua khi tới
                                                            Vũng Tàu </h2>
        <h3 id="_articleSection6" itemprop="articleSection">Bãi biển Vũng Tàu </h3>

        <span id="_articleBody7" itemprop="articleBody">
            <p>Đến Vũng Tàu chắc hẳn ai trong chúng ta nghĩ đến đầu tiên đó là biển. Với 42km đường bờ
               biển đã tạo nên một Vũng Tàu với nhiều địa điểm bờ biển đẹp. Bãi Trước và Bãi Sau là nơi
               thu hút khách du lịch tới đây tắm biển và ngắm cảnh nổi tiếng không thể không kể đến của
               Vũng Tàu
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="../images/bai-truoc.webp"
                     alt="Du lịch Vũng Tàu - Bãi Trước"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bãi Trước (Ảnh: sưu tầm)</figcaption>
            </figure>
            <p>Bãi Trước ở ngay mặt tiền của thành phố, giữa phần chân hai ngọn núi Lớn và núi Nhỏ. Nơi
               đây tập trung khá nhiều cao ốc và các khu mua bán sầm uất. Bãi Trước sẽ là nơi lý tưởng
               để bạn ngắm hoàng hôn hoặc đi dạo cùng với bạn bè. Còn buổi tối, bạn có thể dạo quanh bãi
               Trước để ngắm biển về đêm, tận hưởng gió trời mát rượi và đi bộ ở công viên đầy cây
               xanh..
            </p>

            <figure class="text-center">
                <img class="img-fluid rounded" src="../images/bai-sau.webp"
                     alt="Du lịch Vũng Tàu - Bãi Sau"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bãi Sau (Ảnh: vntrip.vn)</figcaption>
            </figure>
            <p>Bãi Sau nằm ở phía đông nam thành phố Vũng Tàu, kéo dài khoảng 8km từ chân núi Nhỏ đến
               Cửa Lấp. Bãi Sau Vũng Tàu nổi tiếng với bờ biển đẹp và ít sóng lớn, tập trung rất nhiều
               khách sạn và khu ăn uống. Chính vì thế Bãi Sau là một địa điểm lí tưởng để khách du lịch
               tới đây để tắm biển và ăn uống.
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h3 itemprop="articleSection"> Hải đăng Vũng Tàu </h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/hai-dang.webp">
                <img class="img-fluid rounded" src="/images/hai-dang.webp"
                     alt="Du lịch Vũng Tàu - Ngọn Hải Đăng vũng tàu"/>
                <figcaption class="text-muted">Địa điểm du lịch - Ngọn Hải Đăng vũng tàu - ngắm toàn
                                               cảnh non nước nơi đây
                </figcaption>
            </figure>

            <span itemprop="articleBody">
                <p> Ngọn Hải Đăng tọa lạc trên đỉnh núi Nhỏ (núi Tao Phùng), thuộc phường 2, thành phố
                    Vũng Tàu. Nằm ở độ cao là 170m so với mực nước biển. Kiến trúc ngọn Hải Đăng là một
                    tháp hình trụ cao 18 m, đường kính 3m. Lên đến đỉnh tháp, du khách sẽ được tận hưởng
                    làn gió mát rượi thổi vào từ biển khơi, phóng tầm mắt bao quát toàn cảnh non nước
                    của thành phố Vũng Tàu.
                </p>
                <p>Đến Vũng Tàu ngọn Hải Đăng cũng là một địa điểm đáng chiêm ngưỡng. Hãy lưu lại những
                   bức hình đẹp tại đây các bạn nhé!
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h3 itemprop="articleSection">Tượng chúa Giêsu Kitô vua</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/tuong-chua-kito.webp">
                <img class="img-fluid rounded" src="/images/tuong-chua-kito.webp"
                     alt="Du lịch Vũng Tàu - Tượng chúa GiêSu Kitô Vua"/>
                <figcaption class="text-muted">Địa điểm du lịch - Tượng chúa GiêSu Kitô Vua - nơi cầu
                                               nguyện an lành
                </figcaption>
            </figure>
            <p itemprop="articleBody"> Được vinh danh là tượng chúa cao nhất Châu Á với độ cao 170m so
                                       với mực nước biển, cao 32m và cánh tay sải dài 18.3m. Pho tượng
                                       được đặt trên đỉnh núi Nhỏ (Tao Phùng). Tới đây bạn hãy nhắm mắt
                                       lại, thành tâm nguyện cầu những điều bình an, tốt lành. Chúng tôi
                                       tin những điều bạn mong muốn sẽ thành hiện thực.
            </p>
        </span>
        <h3 id="_articleSection19" itemprop="articleSection">Thích ca phật đài </h3>
        <figure class="text-center">
            <img class="img-fluid rounded" src="/images/thich-ca-phat-dai.webp"
                 alt="Du lịch Vũng Tàu - Thích ca phật đài"/>
        </figure>
        <figcaption class="text-muted">Địa điểm du lịch - Thích ca phật đài</figcaption>

        <span id="_articleBody20" itemprop="articleBody">
            <p>Nếu bức tượng Chúa Kitô Vua là một biểu tượng ở núi Nhỏ, thì ở núi Lớn, Thích Ca Phật Đài
               là nơi du khách chắc chắn sẽ ghé thăm. Tọa lạc trên sườn núi Lớn, đây là một quần thể
               kiến trúc điêu khắc kết hợp với cảnh quan thiên nhiên vô cùng đặc sắc.
            </p>
            <p>Toàn thể khuôn viên cụm kiến trúc rộng 28 hecta, bao gồm một quần thể các chùa và các cụm
               vườn tượng diễn tả cuộc đời Đức Phật. Đặc biệt với bức tượng Đức Phật Thích Ca Mâu Ni tọa
               thiền. Các bạn hãy đến và cảm nhận sự bình yên của chốn phật tử nơi đây.
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h3 itemprop="articleSection">Bảo tàng vũ khí Robert Taylor</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/bao-tang-vu-khi.webp">
                <img class="img-fluid rounded" src="/images/bao-tang-vu-khi.webp"
                     alt="Du lịch Vũng Tàu - Bảo tàng vũ khí cổ Robert Taylor"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bảo tàng vũ khí cổ Robert Taylor
                </figcaption>
            </figure>
            <p itemprop="articleBody"> Nằm trong khuôn viên rộng rãi của tòa biệt thự kiểu Pháp ở số 98
                                       Trần Hưng Đạo, bảo tàng vũ khí cổ của ông Robert Taylor đang là
                                       một địa điểm cho những ai đam mê tìm hiểu mà hứng thú với lịch sử
                                       văn hoá thế giới. Ngoài ra bạn còn được chiêm ngưỡng tận mắt
                                       những món vũ khí qua các thời kỳ với hơn 2.500 hiện vật vũ khí cổ
                                       từ khắp nơi trên thế giới. Đúng là một nơi thú vị giữa thành phố
                                       Vũng Tàu phải không nào?
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8 _articleBody28"><h3
                    itemprop="articleSection">Cánh đồng cừu suối Nghệ</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/canh-dong-cuu-suoi-nghe.webp">
                <img class="img-fluid rounded" src="/images/canh-dong-cuu-suoi-nghe.webp"
                     alt="Du lịch Vũng Tàu - Cánh đồng cừu Suối Nghệ - vui chơi cùng những đàn cừu"/>
                <figcaption class="text-muted">Địa điểm du lịch - Cánh đồng cừu Suối Nghệ</figcaption>
                <p> Cánh đồng cừu suối Nghệ thuộc huyện Châu Đức, cách thành phố Vũng Tàu khoảng 70km.
                </p>
            </figure>
        </span>
        <p>Đúng như tên gọi của nơi này, điều thú vị đầu tiên của Suối Nghệ chính là những chú cừu. Nơi
           này có một số đàn cừu nhỏ lẻ được người dân chăn thả trên cánh đồng. Số lượng cừu ở đây
           khoảng vài trăm con, cả cừu lớn và cừu nhỏ. Ở nước ta, cừu không phải là động vật phổ biến,
           do đó không phải ai cũng có dịp được nhìn thấy cừu tận mắt và sờ vào bộ lông dày, mềm mịn của
           chúng.
        </p>
        <p>Đây là khu vực lí tưởng của giới trẻ và các cặp đôi chụp ảnh cưới chọn đến. Một bức ảnh nô
           đùa cùng với đàn cừu sẽ khiến những người bạn của bạn "trầm trồ" đấy!
        </p>
    </article>
    <!--  Phần nội dung phần 2  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h2 itemprop="articleSection">2. Hành trang cần thiết </h2>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/mot-chuyen-phuot.webp">
                <img class="img-fluid rounded" src="/images/mot-chuyen-phuot.webp" alt="Cẩm nang Thông tin Du lịch Vũng Tàu"/>
                <figcaption class="text-muted">Một chuyến phượt Vũng Tàu của các bạn trẻ</figcaption>
            </figure>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h3 itemprop="articleSection">Phương thức di chuyển</h3>
            <span itemprop="articleBody">
                <p>Thành phố biển Vũng Tàu cách TP. Hồ Chí Minh chỉ 125km sẽ là điều kiện lí tưởng để
                   các bạn trẻ có thể thoả sức đam mê phượt thủ của mình.
                </p>
                <p>Từ Tp.HCM có 2 tuyến lộ trình đi đến Vũng Tàu bằng xe máy (3 – 3,5 giờ) mà các bạn
                   nên chọn:
                </p>

                <p>Cách 1: Bạn đi theo Quốc lộ 1, qua khỏi cầu Đồng Nai sẽ gặp một bùng binh giao thông
                   (ngã tư Vũng Tàu, trước đây gọi là ngã ba Vũng Tàu), từ đây bạn rẽ phải theo Quốc lộ
                   51. Đi thêm khoảng 100km là đến TP.Vũng Tàu.
                </p>
                <p>Cách 2: Từ TP HCM, bạn có thể chọn cung đường đi từ phà Cát Lái (Q.2, TP.HCM) sang
                   Nhơn Trạch (Đồng Nai). Đoạn đường này sẽ dẫn ra quốc lộ 51 đoạn cổng vào Khu công
                   nghiệp Nhơn Trạch. Cung đường này gần hơn khoảng 20km.
                </p>

                <p>Ngoài ra các bạn có thể đến Vũng Tàu bằng xe khách. Các chuyến xe từ TP. HCM đến Vũng
                   Tàu hiện nay có giá tầm xấp xỉ 120.000 VND/ lượt. Nhà xe thường dừng tại quận 1, Bến
                   xe Miền Đông,.. mỗi chuyến chỉ cách nhau 30 – 60 phút, vô cùng tiện lợi.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url8">
            <h3 itemprop="articleSection">Ở đâu khi tới Vũng Tàu</h3>
            <span itemprop="articleBody">
                <p>Đến đây bạn sẽ không phải lo lắng về chỗ nghỉ ngơi sau những buổi tham quan thành phố
                   xinh đẹp. Hệ thống nhà nghỉ rất đa dạng và phong phú. Giá cả thì tuỳ thuộc vào độ
                   "chịu chơi" của các bạn. Vì nơi đây có đủ thể loại khách sạn và resort khác nhau, nên
                   giá cả cũng thế.
                </p>
                <figure class="text-center">
                    <img class="img-fluid rounded"
                         src="/images/pullman-khach-san-lon-tai-vung-tau.webp"
                         alt="Nơi ở - Pullman - Một trong những khách sạn lớn ở Vũng Tàu"/>
                    <figcaption class="text-muted">Nơi ở - Pullman, Một trong những khách sạn lớn ở Vũng
                                                   Tàu
                    </figcaption>
                </figure>
                <p>Nếu bạn muốn tận hưởng dịch vụ đỉnh cao, đẳng cấp thế giới thì hãy đến với Pullman
                   Vũng Tàu
                </p>
                <p>Toạ lạc tại thành phố Vũng Tàu. Khách sạn này nằm trong bán kính 4,2km từ Mũi Nghinh
                   Phong và 5km từ Tượng Chúa Ki-tô Vua.
                </p>
                <p>Phòng nghỉ tại khách sạn được bố trí bàn làm việc, TV màn hình phẳng, phòng tắm riêng
                   và khu vực ghế ngồi. Pullman Vung Tau cung cấp một số phòng nhìn ra biển.
                </p>
                <p>Có hồ bơi và phòng xông hơi khô đạt chuẩn 5 sao. Có quầy bar, khu vực bãi tắm riêng.
                </p>
                <p>Phục vụ bữa sáng kiểu lục địa và tự chọn hàng ngày.</p>
                <p>Để xứng đáng với đẳng cấp của Pullman Vung Tau thì số tiền bỏ ra cũng không phải nhỏ.
                   Giá phòng giao động từ 3.000.000 VND trở lên tuỳ theo từng loại phòng.
                </p>
                <h3></h3>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/nha-nghi-ong-cong.webp" alt="Nhà nghỉ ống cống - Những trải nghiệm mới lạ ở Vũng Tàu"/>
                    <figcaption class="text-muted"> Nhà nghỉ ống cống giá rẻ (Ảnh: sưu tầm)
                    </figcaption>
                </figure>
                <p>Bạn đã bao giờ nghĩ mình sẽ nghỉ ngơi ở những "ống cống" như thế này chưa? Nếu chưa
                   thì hãy đến với 06 Thuỵ Vân - TP Vũng Tàu. Với chỉ chưa đầy 200.000 VND bạn đã có thể
                   có sự trải nghiệm đặc biệt này rồi đấy.
                </p>
                <p>Khác xa với những khách sạn đắt tiền, với thiết kế đặc biệt của những nhà nghỉ ống
                   cống ở Vũng Tàu mà có lẽ không ở đâu có kiểu nhà nghỉ vừa đẹp mắt mà lại đầy đủ tiện
                   nghi như vậy. Nhìn nhỏ bé vậy thôi tuy nhiên bên trong lại có đầy đủ các trang thiết
                   bị như tivi, tủ lạnh, máy giặt. Xung quanh còn có rất nhiều cây xanh, gió biển mát
                   mẻ.
                </p>
                <p>Vậy còn chờ gì nữa mà không đến Vũng Tàu ngay nào các bạn.</p>
            </span></span>
    </article>

    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url8">
        <h2 itemprop="articleSection">Phần kết</h2>

        <span itemprop="articleBody">
            <p>Vũng Tàu - thành phố biển đẹp dịu hiền. Một Vũng Tàu với hai màu xanh: lục của núi và lam
               của biển cả làm nên một vẻ đẹp thiên nhiên hùng vĩ biết bao. Đặc biệt là bãi biển, thứ mà
               thiên nhiên ban tặng cho Vũng Tàu được xem là một trong những thành phố biển đẹp nhất
               Việt Nam.
            </p>
            <p>Vũng Tàu vừa như những lời mời gọi, lại tựa như những khoảng trời riêng luôn trong tình
               trạng trông ngóng đợi chờ. Sự trông đợi ấy thật ngọt ngào biết mấy, khiến bao ngươi đi
               lại tranh thủ trở về thăm. Vũng Tàu đấy, đáng yêu là thế, rất thân thương và nhất định
               một ngày trở lại không xa.
            </p>
            <p>Hãy cùng chúng tôi lưu lại những khoảnh khắc cùng với địa điểm du lịch tuyệt vời này nhé!
            </p>
        </span>
        <hr/>
    </article>
</section>
