<section class="post">
    <!--  Phần giới thiệu  -->
    <article id="_articleBody6" itemprop="articleBody" class="post-introduction">
        <p class="lead">Quảng Bình địa điểm du lịch không phải ai cũng biết!</p>
        <p>Du lịch Quảng Bình là hành trình đến mảnh đầt nắng gió, nơi có nhiều danh lam thắng cảnh nổi
           tiếng. Quảng Bình được thiên nhiên ưu ái ban tặng một loạt các hang động làm mê mẩn các bạn
           trẻ ưa mạo hiểm cùng những bãi biển trong xanh trải dài cát trắng mịn màng.
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">
        <h2 id="_articleSection5" itemprop="articleSection">1. Quảng Bình và ta phải đi đâu? </h2>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection9">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/quang-binh1.webp">
                <img class="img-fluid rounded" src="/images/quang-binh1.webp"
                     alt="Địa điểm du lịch - Quảng Bình"/>
                <figcaption class="text-muted">Cảnh thiên nhiên Quảng Bình</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Quảng Bình đúng vậy, vùng đất của nắng của những cảnh đẹp mà không phải nơi nào cũng
                   có. Những vẻ đẹp đem lại cho con người sự thoải mái mà ai cũng nên đến một lần trong
                   đời.
                </p>
                <p>Không chỉ thu hút du khách trong nước mà cả du khách ngoài nước cũng không thể cưởng
                   lại cái đẹp của vùng đất này.
                </p>
            </span></span>
    </article>


    <!--  Phần nội dung phần phụ 1  -->
    <article class="post-body">
        <h3 id="_articleSection9" itemprop="articleSection">* Vườn Quốc Gia Phong Nha Kẻ Bàng </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection13">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Dong-Phong-Nha.webp">
                <img class="img-fluid rounded" src="/images/Dong-Phong-Nha.webp"
                     alt="Du lịch Quảng Bình - Động Phong Nha"/>
                <figcaption class="text-muted">Địa điểm du lịch - Động Phong Nha</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p> Vường quốc gia Phong Nha- Kẻ Bàng được UNESCO công nhận là duy sản văn hóa thế giới
                    với vẻ đẹp mang đầy tính nguyên thủym nhưng lại thật hùng vĩ trước ánh mắt mọi
                    người. Nằm cách thành phố Đông Hới tầm 50km.
                </p>
                <p>Động Phong Nha được bình chọn là một trong những hang động đẹp nhất thế giới. Khám
                   phá động Phong Nha sẽ khiến bạn không khỏi trầm trồ trước vẻ đẹp của nơi này.
                </p>
            </span></span>
    </article>


    <!--  Phần nội dung phần phụ 2  -->
    <article class="post-body">
        <h3 id="_articleSection13" itemprop="articleSection">* Động Thiên Đường </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _articleSection17 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Dong-Thien-Duong.webp">
                <img class="img-fluid rounded" src="/images/Dong-Thien-Duong.webp"
                     alt="Du lịch Quảng Bình - Động Thiên Đường"/>
                <figcaption class="text-muted">Địa điểm du lịch - Động Thiền Đường</figcaption>
            </figure>

            <p itemprop="articleBody">Là một kỳ quan trong lòng Vườn Quốc gia Phong Nha – Kẻ Bàng và nằm
                                      ở độ cao 360m so với mặt nước biển, Động Thiên Đường được ví như
                                      “Vườn địa đàng ở chốn trần gian”. Động Thiên Đường là hang động
                                      khô dài nhất chất Á với hệ thống nhũ đá lung linh huyền ảo, chắc
                                      chắc sẽ hấp dẫn mọi du khách khi đến với Quảng Bình.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">
        <h3 id="_articleSection17" itemprop="articleSection">* Hang Sơn Đoòng </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection21">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Hang-Son-Doong-768x511.webp">
                <img class="img-fluid rounded" src="/images/Hang-Son-Doong-768x511.webp"
                     alt="Du lịch Quảng Bình - Hang Sơn Đoòng"/>
                <figcaption class=" text-muted">Địa điểm du lịch - Hang Sơn Đoòng</figcaption>
            </figure>

            <p itemprop="articleBody">Là hang động lớn nhất thế giới, Hang Sơn Đoòng thu hút hàng ngàn
                                      du khách quốc tế “lặn lội” tìm đến Quảng Bình để được một lần khám
                                      phá và trải nghiệm kì quan của thiên nhiên nơi đây. Khám phá hang
                                      Sơn Đoòng, bạn như lạc vào thế giới cổ tích và sẽ phải trầm trồ
                                      thán phục trước vẻ đẹp kì diệu của thiên nhiên. Hang Sơn Đoòng cao
                                      hơn 200 mét, dài gần 9km với nhiều thác nước, vách đá nhũ khổng lồ
                                      cùng thảm thực vật phong phú,… đã tạo nên những nét đẹp không thể
                                      trộn lẫn mà tạo hoá đã ưu ái dành cho vùng đất Quảng Bình.
            </p>
        </span>

    </article>
    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">
        <h3 id="_articleSection21" itemprop="articleSection">* Bãi biển Đá Nhảy</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection25">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/bai-da-nhay-quang-binh.webp">
                <img class="img-fluid rounded" src="/images/bai-da-nhay-quang-binh.webp"
                     alt="Du lịch Quảng Bình - Bãi Đá Nhảy"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bãi đá nhảy</figcaption>
            </figure>

            <p itemprop="articleBody">Cũng là một bãi biển có tiếng ở Quảng Bình, Bãi Đá Nhảy hoang sơ
                                      và bình dị hơn với những vách đá có nhiều hình thù khác nhau. Đến
                                      với Bãi Đá Nhảy để tận hưởng biển xanh cát trắng với tiếng sóng vỗ
                                      rì rào, thả mình vào làn nước mát xua tan để xua tan đi cái nắng
                                      nóng gay gắt của mảnh đất miền Trung – Quảng Bình và nghỉ ngơi tại
                                      khách sạn khu vực Bãi Đá Nhảy.
            </p>
        </span>
    </article>
    <!--  Phần nội dung phần phụ 5 -->
    <article class="post-body">
        <h3 id="_articleSection25" itemprop="articleSection">* Vũng Chùa-Đảo Yến</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection29">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Dao-Yen-768x512.webp">
                <img class="img-fluid rounded" src="/images/Dao-Yen-768x512.webp"
                     alt="Du lịch Quảng Bình - Đảo Yến"/>
                <figcaption class="text-muted">Địa điểm du lịch - Đảo Yến</figcaption>
            </figure>

            <p itemprop="articleBody">Vũng Chùa – Đảo Yến được biết đến là nơi an nghỉ cuối cùng của Đại
                                      tướng Võ Nguyên Giáp. Ngày nay, nhiều du khách khi đến với Quảng
                                      Bình thường ghé thăm nơi đây để tỏ lòng biết ơn và thành kính tới
                                      vị đại tướng tài ba của dân tộc.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 6 -->
    <article class="post-body">
        <h3 id="_articleSection29" itemprop="articleSection">* Nhà lưu niệm Đại tướng Võ Nguyên
                                                             Giáp</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _articleSection33 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/nha-luu-niem.webp">
                <img class="img-fluid rounded" src="/images/nha-luu-niem.webp"
                     alt="Du lịch Quảng Bình -  Lưu niệm Đại Tướng"/>
                <figcaption class="text-muted">Địa điểm du lịch - Nhà lưu niệm Đại Tướng</figcaption>
            </figure>

            <p itemprop="articleBody">Nhà lưu niệm Đại tướng Võ Nguyên Giáp là ngôi nhà gỗ 3 gian, 2
                                      chái nằm giữa một khu vườn nhiều cây xanh. Một cảm giác yên bình,
                                      ấm áp níu giữ bước chân người. 5 cuốn sổ lưu bút khổ 30 x 45 dày
                                      khoảng 100 mm chật cứng những dòng chữ chứa chan tình cảm kính
                                      yêu, trân trọng của đồng bào, chiến sĩ khắp cả nước.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần 2  -->
    <article class="post-body">
        <h2 id="_articleSection33" itemprop="articleSection">2. Phương tiện đi Quảng Bình </h2>
        <p id="_articleBody38" itemprop="articleBody">Tất cả nhé chỉ cần muốn đi là sẽ có: máy bay, ô tô
                                                      thì khỏi nói, xe máy (dân phượt chỉnh hiệu), tàu
                                                      hỏa,… hay kể cả đi bộ nếu bạn muốn nổi tiếng.
                                                      Quảng bình là một nơi rất phát triển và nổi tiếng
                                                      nên phát triển về cơ sở hạ tầng giao thông là điều
                                                      đương nhiên. Chỉ sợ không có tiền đi chứ muốn đi
                                                      thì cỡ nào cũng được.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody38">
            <h3 itemprop="articleSection">* Máy bay</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/MAY-BAY.webp"
                     alt="Thông tin du lịch - Máy bay"/>
                <figcaption class="text-muted">Phương tiện du lịch - Máy bay</figcaption>
            </figure>
        </span>

        <p id="_articleBody42" itemprop="articleBody">Máy bay là phương tiện rất tiện lợi cho mọi người
                                                      trong di chuyển đặc biệt là trong du lịch vì tốc
                                                      độ cao và an toàn. Nhưng chi phí bỏ ra để đi máy
                                                      bay khá cao hơn so với các phương tiện khác.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody42">
            <h3 itemprop="articleSection">* Tàu hỏa</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/tau-hoa.webp"
                     alt="Thông tin du lịch - Tàu hỏa"/>
                <figcaption class="text-muted">Phương tiện du lịch - Tàu hoả</figcaption>
            </figure>
        </span>

        <p id="_articleBody46" itemprop="articleBody">Tàu hỏa là phương tiện khá tốt nhưng hiện tại thì
                                                      cũng khá ít người dùng vì nhiều yếu tố khác nhau.
                                                      Nhưng việc lựa chọn tàu hỏa cũng là một lựa chọn
                                                      tốt vì nó khá an toàn và giá cả lại phải chăng.
        </p>

    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody46">
            <h3 itemprop="articleSection">
                * Xe khách, Tour</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/xe-khach.webp"
                     alt="Thông tin du lịch - Xe Khách"/>
                <figcaption class="text-muted">Phương tiện du lịch - Xe khách</figcaption>
            </figure>
        </span>

        <p id="_articleBody50" itemprop="articleBody">Xe khách cũng như đặt tour là phương tiện có lẽ
                                                      được ưu ái nhất nhì trong việc du lịch vì tính cơ
                                                      động cũng như tiện lợi của nó. Nhưng có lẽ đây
                                                      cũng chưa phải là phương tiện được lựa chọn nhiều
                                                      nhất của du lịch hiện tại.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _articleBody50 _datePublished3">
            <h3 itemprop="articleSection">* Mô tô, Phượt</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/Phuot.webp"
                     alt="Thông tin du lịch - Mô tô"/>
                <figcaption class="text-muted">Phương tiện du lịch - Mô tô</figcaption>
            </figure>
        </span>

        <p>
            <span id="_articleBody53" itemprop="articleBody">Phượt là thú vui cũng như cách xả stress
                                                             tốt nhất của giới trẻ. Mô tô hiện tại đang
                                                             được sử dụng để đi du lịch trong nước rất
                                                             nhiều vì tính cơ động và tiết kiệm chi phí
                                                             rất cao của loại hình du lịch này</span>.
        </p>

    </article>


    <!--  Phần nội dung phần 3  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody53"><h2 itemprop="articleSection">
                3. Các món ăn đặc sản </h2>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection56">
            <p itemprop="articleBody">Quảng Bình không chỉ được biết đến với nhiều bờ biển đẹp, nhiều
                                      danh thắng làm say lòng du khách mà nơi đây còn có nhiều món ăn
                                      khiến ai đã từng thưởng thức đều nhớ mãi không quên. Xin giới
                                      thiệu những đặc sản món ăn ngon, đậm chất riêng của ẩm thực Quảng
                                      Bình mà khi du lịch Quảng Bình bạn không nên bỏ qua.
            </p>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/mam-com.webp"
                     alt="Măm cơm (Minh hoạ)"/>
                <figcaption class="text-muted">Măm cơm (Minh hoạ)</figcaption>
            </figure>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">
        <h3 id="_articleSection56" itemprop="articleSection">* Mì Quảng</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection60">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/my-quang.webp">
                <img class="img-fluid rounded" src="/images/my-quang.webp"
                     alt="Món ăn đặc sản - Mì Quảng"/>
                <figcaption class="text-muted">Món ăn đặc sản - Mì Quảng</figcaption>
            </figure>

            <p itemprop="articleBody">Nghe đến tên thôi là đã biết đây không phải là món đặc sản riêng
                                      của Quảng Bình mà là đặc của cả xứ Quảng, hãy thử một lần nếu bạn
                                      có cơ hội đến vùng quê của món ăn này.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">
        <h3 id="_articleSection60" itemprop="articleSection">* Bánh Bột Lọc</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_articleSection64 _name1 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/banh-bot-lo.webp">
                <img class="img-fluid rounded" src="/images/banh-bot-lo.webp"
                     alt="Món ăn đặc sản - Bánh bột lọc"/>
                <figcaption class="text-muted">Món ăn đặc sản - Bánh bột lọc</figcaption>
            </figure>

            <p itemprop="articleBody">Bánh lọc vốn là món đặc sản xứ Huế, Đông Hà, đến Quảng Bình lại có
                                      một phong vị mới lạ, trở thành một trong những món ăn mà du khách
                                      không thể không thưởng thức khi đến thành phố biển miền Trung này.
                                      Đến Quảng Bình mà không nếm thử món bánh lọc nơi đây thì quả là
                                      thiếu đi một phần của chuyến du lịch Quảng Bình.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">
        <h3 id="_articleSection64" itemprop="articleSection">* Bánh Khoái</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection68">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/banh-khoai-quang-b%C3%ACnh.webp">
                <img class="img-fluid rounded" src="/images/banh-khoai-quang-bình.webp"
                     alt="Món ăn đặc sản - Bánh Khoái"/>
                <figcaption class="text-muted">Món ăn đặc sản - Bánh khoái</figcaption>
            </figure>

            <p itemprop="articleBody">Bánh khoái Quảng Bình thoạt nhìn có nhiều nét giống với bánh xèo
                                      miền Nam hay bánh gối của miền Bắc, nhưng hương vị của nó rất khác
                                      biệt. Vỏ bánh lấy nguyên liệu chủ yếu từ bột gạo xay nhuyễn, hòa
                                      với nước thành hỗn hợp lỏng. Để bánh khi chiên được giòn và có màu
                                      vàng đẹp mắt, người ta hòa thêm một ít bột bắp (ngô), thêm trứng
                                      gà hoặc vịt, ít bột nghệ.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">
        <h3 id="_articleSection68" itemprop="articleSection">* Cháo hàu ở Quán Hàu</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection72">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/chao-hau-quang-binh-2.webp">
                <img class="img-fluid rounded" src="/images/chao-hau-quang-binh-2.webp"
                     alt="Món ăn đặc sản - Cháo hàu"/>
                <figcaption class="text-muted">Món ăn đặc sản - Cháo hàu</figcaption>
            </figure>

            <p itemprop="articleBody">Quán Hàu từ lâu đã nổi danh với nhiều món ăn được chế biến từ con
                                      hàu lấy từ sông Nhật Lệ. Điều đặc biệt, cũng trên con sông này
                                      nhưng hàu ở những khúc sông khác không nhiều và không thể ngon
                                      bằng hàu ở đoạn qua thị trấn này. Vì thế mới có chuyện người ta
                                      mang hàu nơi khác về ngâm nước trên đoạn sông này. Một số người cố
                                      gắng lý giải nhưng lời đáp vẫn còn là một bí ẩn. Có lẽ do nơi đây
                                      là điểm giao thoa, hòa quyện giữa hai con nước mặn và ngọt như sự
                                      kết duyên của một tình yêu đẹp.
            </p>
        </span>
    </article>


    <!--  Phần nội dung phần phụ 5 -->
    <article class="post-body">
        <h3 id="_articleSection72" itemprop="articleSection">* Đẻn biển</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection76">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/dac-san-den-bien-quang-binh.webp">
                <img class="img-fluid rounded" src="/images/dac-san-den-bien-quang-binh.webp"
                     alt="Món ăn đặc sản - Đẻn biển"/>
                <figcaption class="text-muted">Món ăn đặc sản - Đẻn biển</figcaption>
            </figure>

            <p itemprop="articleBody">Đặc biệt, du khách còn được giới thiệu một trong những món hải sản
                                      tươi ngon, bổ dưỡng và được coi là độc chiêu, đó chính là đẻn
                                      biển. Có thể nói, món ăn này đã trở thành niềm tự hào của người
                                      dân xứ sở và chúng tôi tin rằng, khi thưởng thức đẻn biển, ngay
                                      bản thân người bản địa cũng sẽ thấy tự hào với những đặc sản lạ và
                                      ngon đến bất ngờ. Đẻn biển được chế biến nhiều món ngon như hầm củ
                                      quả, xào sả ớt, băm nhỏ xúc bánh tráng, nấu cháo… nhưng món đẻn ở
                                      thành phố Đồng Hới được nhiều người biết đến nhất là tiết đẻn pha
                                      rượu trắng và ram đẻn.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 6 -->
    <article class="post-body">
        <h3 id="_articleSection76" itemprop="articleSection">* Cá Sông Son ở Phong Nha</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_articleSection80 _name1 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/ca-chinh-phong-nha.webp">
                <img class="img-fluid rounded" src="/images/ca-chinh-phong-nha.webp"
                     alt="Món ăn đặc sản - Cá sông Son"/>
                <figcaption class="text-muted">Món ăn đặc sản - Cá sông Son</figcaption>
            </figure>

            <p itemprop="articleBody">Vườn quốc gia Phong Nha Kẻ Bàng di sản thiên nhiên thế giới được
                                      mệnh danh là “vương quốc hang động” điểm đến không thể bỏ qua khi
                                      đến Quảng Bình. Sau khi du lịch Phong Nha Kẻ Bàng tham quan khám
                                      phá những hang động nổi tiếng như Động Phong Nha, Động Thiên
                                      Đường, Hang Tối… bạn đừng quên thưởng thức những món cá từ Sông
                                      Son như cá trắm, cá mè đặc biệt là cá chình thơm ngon nổi tiếng.
            </p>
        </span>

    </article>


    <!--  Phần nội dung phần 4  -->
    <article class="post-body">
        <h2 id="_articleSection80" itemprop="articleSection">4. Đi Quảng Bình thì ở đâu? </h2>
        <p id="_articleBody85" itemprop="articleBody">Quảng bình là địa điểm du lịch? Có gì phải bàn cải
                                                      nữa khi một địa điểm chuyên phát triển về dịch vụ
                                                      du lịch thì các resort, khách sạn, nhà nghĩ,… là
                                                      điều không bao giờ thiếu và nếu liệt kê chắc phải
                                                      tới mai mới xong như:
        </p>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody85">
            <h3 itemprop="articleSection">* Sun Spa Resort & Villas</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded"
                     src="/images/Sun-Spa-Resort-Villa-768x421.webp"
                     alt="Thông tin du lịch - Sun Spa Resort & Villas"/>
                <figcaption class="text-muted">Nơi ở - Sun Spa Resort & Villas<</figcaption>
            </figure>
        </span>

        <span id="_articleBody89" itemprop="articleBody">
            <p> Địa chỉ: Mỹ Cảnh, Bảo Ninh, Thành phố Đồng Hới, Quảng Bình</p>
            <p>Tiêu chuẩn: 5 sao</p>
            <p>Với vị trí thuận lợi, giáp 3 mặt biển ở Mỹ Cảnh, Đồng Hới và trải dài trên một bán đảo
               cát trắng tuyệt đẹp, Sun Spa Resort & Villas chắc chắn sẽ là sự lựa chọn hoàn hảo cho kỳ
               nghỉ của bạn.
            </p>
        </span>

    </article>
    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody89">
            <h3 itemprop="articleSection">* Riverside Hotel – Quang Binh</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded"
                     src="/images/Riverside-Hotel-Quang-Binh-768x374.webp"
                     alt="Thông tin du lịch - Riverside Hotel Quang Binh"/>
                <figcaption class="text-muted">Nơi ở - Riverside Hotel Quang Binh"</figcaption>
            </figure>
        </span>

        <span id="_articleBody93" itemprop="articleBody">
            <p> Địa chỉ: Trương Pháp, Hải Thành, Thành phố Đồng Hới, Quảng Bình</p>
            <p>Tiêu chuẩn: 4 sao</p>
            <p>Khách sạn Riverside – Quảng Bình toạ lạc tại trung tâm thành phố Đồng Hới và nhìn hướng
               ra sông Nhật Lê. Được xây dựng theo phong cách kiến trúc Pháp sang trọng, khách sạn
               Riverside sẽ mang đến những trải nghiệm tuyệt vời cho bạn.
            </p>
        </span>

    </article>

    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody93">
            <h3 itemprop="articleSection">* Tuong Minh Hotel</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded"
                     src="/images/Riverside-Hotel-Quang-Binh-768x374.webp"
                     alt="Thông tin du lịch - Tường Minh Hotel"/>
                <figcaption class="text-muted">Nơi ở - Tường Minh Hotel</figcaption>
            </figure>
        </span>

        <span id="_articleBody96" itemprop="articleBody">
            <p> Địa chỉ: 20 Lý Thường Kiệt, Thành phố Đồng Hới, Quảng Bình</p>
            <p>Tiêu chuẩn: 3 sao</p>
            <p>Khách sạn Tường Minh cung cấp đầy đủ các tiện nghi phòng ở, chắc chắn sẽ mang lại sự
               thoải mái và tiện lợi cho mọi du khách khi đi du lịch ở Quảng Bình.
            </p>
        </span>

    </article>


    <!--  Phần nội dung phần 5  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_articleBody96 _name1 _author2 _datePublished3">
            <h2 itemprop="articleSection">4. Phương tiện đi lại </h2>
        </span> <span itemscope itemtype="http://schema.org/Article"
                      itemref="_name1 _author2 _datePublished3 _articleSection99"> <span
                    itemprop="articleBody">
                <p>Ai đi xe riêng thì chắc khỏi nói đến phần này nhỉ! Còn đối với các bạn đi Ô tô, máy
                   bay, tàu hỏa,.. thì chắc đang nhứt nhói vì đi thì sợ bị chặt chém không biết có tiền
                   về nhà không, không đi thì tiết tiết. Dưới đây mình xin được giới thiệu một vài cách
                   đi hiệu quả:
                </p>
                <ol>
                    <li>Bạn có thể thuê xe máy</li>
                    <li>Thuê xe ô tô</li>
                    <li>Thuê xe khách</li>
                    <li>Chọn Tour</li>
                </ol>

                <p>Xe máy, nếu bạn muốn như một dân phượt thì các bạn có thể thuê xe gắn máy với giá
                   bình dân 150.000 VNĐ/ xe/ ngày, bạn có thể liên lạc với lễ tân khách sạn để đặt và
                   giao xe cho bạn bất kỳ đâu tại Đồng Hới.

                    <br/>Nếu bạn muốn đến Vườn quốc gia Phong Nha Kẻ Bàng bằng xe máy bạn cần đủ sức
                   khỏe do đường xa, nguy hiểm và quan trọng hơn phải tuân thủ luật giao thông. Tốt nhất
                   bạn nên chuẩn bị đồ nghề sửa xe để nếu không may xảy ra sự cố hư xe thì sửa vì nơi
                   đây ít dân cư, đến tiệm sửa xe khá xa rất mệt.
                </p>
            </span> <img itemprop="image" class="img-fluid rounded" src="/images/phuong-tien.webp"
                         alt="Phương tiện đi lại"/></span>
        <figcaption class="text-muted">Phương tiện đi lại</figcaption>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article>
        <h2 id="_articleSection99" itemprop="articleSection">Kết lại</h2>

        <span itemscope itemtype="http://schema.org/Article" itemref="_name1 _author2 _datePublished3">
            <span itemprop="articleBody">
                <p>Quảng Bình là vùng đất mà có lẽ ai cũng muốn đến thăm dù chỉ một lần trong đời nhưng
                   khi đã lỡ đến một lần thì có lẽ sẽ muốn định cư ở đó luôn vì cái vẻ đẹp của vùng đất
                   này cũng như con người ở đây.
                </p>
                <p>Đến với mảnh đất này chúng ra sẽ được sống trong lòng của mẹ thiên nhiên, cảm nhận
                   cái mát mẻ, không khí trong lành mà bao lâu chúng ta đã lãng quên vì cái nhọc nhằn,
                   bộn bề của công việc. Thiên nhiên luôn ở đó, luôn chờ những đứa con trở về với lòng
                   mẹ ấm áp, an lành.
                </p>
                <p>Hãy đến với Quảng Bình để biết được hang động to nhất thế giới, đừng nhìn về Kim Tự
                   Tháp, Vạn Lý Trường Thành,... mà quên rằng ngay chính đất nước Việt Nam này có những
                   thứ mà có lẽ rất nhiều người đã bỏ quên.
                </p>
            </span>
            <meta itemprop="articleSection" content="Giới thiệu">
        </span>
        <hr/>
    </article>
</section>
