<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p id="_articleBody5" itemprop="articleBody" class="lead">Du lịch Đà Lạt - 7 Địa điểm du lịch
                                                                  hấp dẫn nhất và nhất định phải đi một
                                                                  lần trong đời
        </p>
    </article>

    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _image4 _url6"><h2><strong
                        itemprop="articleSection">1. Ga đà lạt</strong></h2>

            <span itemprop="articleBody">
                <p>Nhà ga được người Pháp xây dựng từ năm 1932 đến 1938 thì hoàn thành, được nhiều kiến
                   trúc sư trong và ngoài nước nhận định là nhà ga cổ đẹp nhất Đông Dương ,nằm trên mặt
                   phẳng có chiều dài 66m, rộng 11,5m và chiều cao đại sảnh 11m. Nhà ga được xây dựng
                   theo lối kiến trúc hiện đại của phương Tây nổi bật là mặt trước với ba hình chóp mái
                   cách điệu từ hình ảnh 3 đỉnh núi cao nhất Lang Biang và hình tượng mái nhà rông Tây
                   Nguyên độc đáo. Với tuyến đường chỉ với 7 km, tàu sẽ đưa du khách khám phá mọi nơi
                   trong phố núi.Đây là nơi hấp dẫn của nhà ga phục vụ du khách tham quan ngắm cảnh trên
                   đường đi. Điểm cuối cùng khách tham quan là Chùa Linh Phước – hay còn được gọi là
                   chùa Ve Chai – một kiến trúc Phật giáo đồ sộ, hoàng tráng.
                </p>
                <p>Có thể cho rằng, việc sở hữu rất nhiều kỉ lục như “nhà ga cao nhất”, “nhà ga cổ nhất”
                   và “nhà ga đẹp nhất” Việt Nam đã khiến ga Đà Lạt trở thành một trong những địa điểm
                   du lịch hấp dẫn du khách trong nước và ngoài nước nhiều nhất.
                </p>
            </span></span>
        <figure itemscope itemtype="http://schema.org/Article"
                itemref="_name1 _author2 _datePublished3 _url6 _articleSection13 _articleBody14"
                class="text-center">
            <meta id="_image12" itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/nha-ga-da-lat.webp">
            <img class="img-fluid rounded" src="/images/nha-ga-da-lat.webp"
                 alt=" Địa điểm du lịch - Ga Đà Lạt "/>
            <figcaption class="text-muted">Du lịch Đà Lạt - Ga Đà Lạt</figcaption>
        </figure>
    </article>
    <!--  Phần nội dung của phần 2	 -->
    <article class="post-body">
        <h2><strong id="_articleSection13" itemprop="articleSection">2. Quảng trường lâm viên</strong>
        </h2>

        <span id="_articleBody14" itemprop="articleBody">
            <p>Quảng trường Lâm Viên tọa lạc giữa “trái tim” của thành phố hoa, hướng ra hồ Xuân Hương
               với tổng diện tích lên đến 72.000 m². Không chỉ nổi bật với không gian rộng, thoáng.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/quang-truong-lam-vien-dalat.webp"
                     alt="Địa điểm du lịch - Quảng trường Lâm Viên "/>
                <figcaption class="text-muted">Du lịch Đà Lạt - Quảng trường Lâm Viên</figcaption>
            </figure>
            <p>Nếu là một người đam mê chụp ảnh, du khách sẽ không thể nào bỏ qua một địa điểm chụp ảnh
               đẹp như quảng trường Lâm Viên. Hai khối công trình Hoa Dã Quỳ và Nụ Hoa Atiso chính là
               nơi lý tưởng để chụp ảnh.
            </p>
        </span>
    </article>
    <!--  Phần nội dung của phần 3	 -->
    <!--  Phần nội dung của phần 4	 -->
    <!--  Phần nội dung của phần 5	 -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6 _image12" class="post-body">
        <h2><strong itemprop="articleSection">3. Đỉnh langbiang</strong></h2>

        <span itemprop="articleBody">
            <p>Langbiang – hay núi Langbiang, đỉnh núi cao và hùng vĩ nhất nơi này với chuyện tình của
               chàng K’lang và nàng H’biang, câu chuyện ấy được người dân trong vùng kể lại thật cảm
               động, chân thật và thắm đượm tình yêu của đôi trai tài gái sắc.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/la-biang.webp"
                     alt="Địa điểm du lịch - Đỉnh Langbiang"/>
                <figcaption class="text-muted">Du lịch Đà Lạt - Đỉnh Langbiang</figcaption>
            </figure>
            <p> Trên đỉnh núi Langbiang, du khách có thể thỏa tầm mắt ngắm nhìn hầu hết toàn bộ Đà Lạt
                mộng mơ, thỏa sức ngắm nhìn vẻ đẹp suối Vàng, suối Bạc và toàn cảnh mây trời du lịch Đà
                Lạt trên cao. Đứng ở vị trí này, bạn có cảm giác như lạc vào chốn tiên cảnh, không chỉ
                hấp dẫn bởi cảnh sắc thiên nhiên khoáng đạt, sức quyến rũ của Lang Biang còn ở câu
                chuyện tình yêu bất diệt của đôi trai gái K’lang và Biang.
            </p>
        </span>
    </article>
    <!--  Phần nội dung của phần 6	 -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6 _image12" class="post-body">
        <h2><strong itemprop="articleSection">4. Hồ xuân hương</strong></h2>

        <span itemprop="articleBody">
            <p>Khi đã đến Đà Lạt bạn chớ quên ghé thăm hồ Xuân Hương. Vẻ đẹp mộng mơ của hồ Xuân Hương
               đã làm say đắm biết bao nhà thơ, nhà văn vì nó. Du khách đến đây cũng lặng nhìn vạn vật
               xung quanh, lặng nhìn nước đáy hồ reo, lặng nhìn cây liễu tơ run trong gió, ngắm nhìn
               người người tản bộ quanh hồ, nghe chí tâm hồn thổn thức khi đứng trước vẻ đẹp thanh bình
               dịu dàng của hồ.
            </p>

            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/ho-xuan-huong-da-lat.webp"
                     alt="Địa điểm du lịch - Hồ Xuân Hương"/>
                <figcaption class="text-muted">Du lịch Đà Lạt - Hồ Xuân Hương</figcaption>
            </figure>
            <p>Hàn Mặc Tử đã từng viết về hồ Xuân Hương như này - một viên ngọc xanh biếc, q uý giá giữa
               lòng thành phố Đà Lạt.

               Ai hãy lặng thinh chớ nói nhiều Để nghe dưới nước đáy hồ reo Để nghe tơ liễu run trong
               gió Và để nghe trời giải nghĩa yêu
            </p>
        </span>
    </article>
    <!--  Phần nội dung của phần 7	 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url6 _image12"><h2><strong
                        itemprop="articleSection">5. Chợ đà lạt</strong></h2>

            <span itemprop="articleBody">
                <p>Chợ Đà Lạt là một trung tâm thương mại của thành phố Đà Lạt tọa lạc trên trục đường
                   chính là đường Nguyễn Thị Minh Khai và được xem là "con tim của thành phố Đà Lạt".
                   Không chỉ là một ngôi chợ với các hoạt động mua bán, chợ còn là điểm thu hút khách
                   tham quan khi đến thành phố Đà Lạt.
                </p>
                <p>Tuy nhiên, ngôi chợ không chỉ đơn thuần là nơi mua bán mà còn khắc họa rõ nét lối
                   sống, văn hóa của người dân ở thành phố sương mù.
                </p>
            </span></span>
        <figure itemscope itemtype="http://schema.org/Article"
                itemref="_name1 _author2 _datePublished3 _url6 _articleSection26 _articleBody27"
                class="text-center">
            <meta id="_image25" itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/cho-da-lat.webp">
            <img class="img-fluid rounded" src="/images/cho-da-lat.webp"
                 alt="Địa điểm du lịch - Chợ Đà Lạt"/>
            <figcaption class="text-muted">Du lịch Đà Lạt - Chợ Đà Lạt</figcaption>
        </figure>

    </article>
    <!--  Phần nội dung của phần 8	 -->
    <!--  Phần nội dung của phần 9	 -->
    <!--  Phần nội dung của phần 10	 -->
    <!--  Phần nội dung của phần 11	 -->
    <article class="post-body">
        <h2><strong id="_articleSection26" itemprop="articleSection">6. Thung lũng tình yêu</strong>
        </h2>

        <span id="_articleBody27" itemprop="articleBody">
            <p>Thung Lũng Tình Yêu ở Đà Lạt nổi tiếng là một danh lam thắng cảnh đẹp với đồi Vọng Cảnh,
               hồ Đa Thiện, cùng những con đường quanh co, uốn lượn bên các thảm cỏ xanh rì, trông rất
               lãng mạn.Đẹp và cuốn hút bởi thung lũng sâu và đồi thông quanh năm xanh biếc.
            </p>

            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/thung-lung-tinh-yeu-du-lich-da-lat-4.webp"
                     alt="Địa điểm du lịch - Thung Lũng Tình Yêu"/>
                <figcaption class="text-muted">Du lịch Đà Lạt - Thung Lũng Tình Yêu</figcaption>
            </figure>
            <p>Nơi đây còn có những cảnh đẹp như mê cung tình yêu, cầu khóa tình yêu, suối hoa, vườn
               công… thích hợp cho những đôi lứa yêu nhau du lịch ngắm cảnh.Một khi đã đi vào là như lạc
               vào một thế giớ mới mà nới đó chỉ tình yêu thiên nhiên con người luôn nhé.
            </p>
        </span>
    </article>
    <!--  Phần nội dung của phần 12	 -->
    <!--  Phần nội dung của phần 13	 -->
    <!--  Phần nội dung của phần 14	 -->
    <!--  Phần nội dung của phần 15	 -->
    <!--  Phần nội dung của phần 16	 -->
    <!--  Phần nội dung của phần 17	 -->
    <!--  Phần nội dung của phần 18	 -->
    <!--  Phần nội dung của phần 19	 -->
    <!--  Phần nội dung của phần 19	 -->
    <!--  Phần nội dung của phần 20	 -->
    <!--  Phần nội dung của phần 21	 -->
    <!--  Phần nội dung của phần 21	 -->
    <!--  Phần nội dung của phần 22	 -->
    <!--  Phần nội dung của phần 23	 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _url6 _image25"><h2><strong
                        itemprop="articleSection">7. Nhà thờ con gà</strong></h2>
            <p itemprop="articleBody">Nhà thờ Con Gà ở Đà Lạt nằm trên đường Trần Phú còn được gọi là
                                      Chính tòa Thánh Nicôla Bari đây nhà thờ lớn, cổ và đẹp nhất Đà
                                      Lạt. Người dân Đà Lạt thường gọi thân mật là nhà thờ Con Gà do
                                      trên đỉnh tháp có hình một chú gà lớn. Đây là nhà thờ cổ xưa nhất
                                      của thành phố này do người Pháp để lại. Nhìn từ bên ngoài nhà thờ
                                      với phần tháp chuông vươn cao, những đường nét, chi tiết trên mặt
                                      đứng hoàn toàn phỏng theo nguyên gốc của các kiểu mẫu châu Âu.
            </p>
        </span>
        <figure itemscope itemtype="http://schema.org/Article"
                itemref="_name1 _articleSection33 _author2 _articleBody34 _datePublished3 _url6"
                class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/nha-tho-con-ga-da-lat.webp">
            <img class="img-fluid rounded" src="/images/nha-tho-con-ga-da-lat.webp"
                 alt="Thông tin du lịch - Nhà thờ Con Gà"/>
            <figcaption class="text-muted"> Du lịch Đà Lạt - Nhà thờ Con Gà</figcaption>
        </figure>
    </article>
    <!--  Phần nội dung của phần 24	 -->
    <!--  Phần nội dung của phần 25	 -->
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article>
        <h2><strong id="_articleSection33" itemprop="articleSection">Lời Kết</strong></h2>

        <span id="_articleBody34" itemprop="articleBody">
            <p>7 địa điểm Du lịch đà lạt đi chơi nổi tiếng ,có lượt khách tham quan chiếm tỉ lệ đông
               nhất
            </p>
            <p>Rất mong các bạn góp ý và chia sẻ trang Web tới bạn bè để không bỏ lỡ các địa điểm rất
               tuyệt này ^^
            </p>
        </span>
        <hr/>
    </article>
</section>
