<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p id="_articleBody5" itemprop="articleBody" class="lead">Những địa điểm<b> du lịch Hà Nội </b>hấp
                                                                  dẫn bạn nên đặt chân đến có thể mang
                                                                  lại nhiều sự thú vị,mới mẻ. Chúng luôn
                                                                  có sức hấp dẫn với du khách cả trong
                                                                  và ngoài nước.Từ những đặc sản như phở<b>
                Hà Nội</b>,nem chả,bún chả<b> Hà Nội</b>,du khách còn bị hấp dẫn bởi những địa điểm vui
                                                                  chơi và giải trí đa dạng,đặc biệt hơn
                                                                  nữa là một không khí<b> Hà Nội </b>nhộn
                                                                  nhịp và tràn đầy sức sống.<b>Hà
                                                                                               Nội</b>
                                                                  không chỉ mang lại sự giải trí về mặt
                                                                  tinh thần mà còn giúp chúng ta mở mang
                                                                  kiến thức về văn hóa , ẩm thực,biết
                                                                  thêm được nhiều địa danh nổi tiếng.
                                                                  Những hành trình luôn có vị đắng và
                                                                  ngọt ngào chờ chúng ta khám phá, là
                                                                  những trải nghiệm để ta hiểu biết hơn
                                                                  về thế giới, là những cung bậc cảm xúc
                                                                  thú vị mà ta sẽ trải qua,tại sao ta
                                                                  không thử bắt đầu với hành trình <b>địa
                                                                                                      điểm
                                                                                                      du
                                                                                                      lịch </b>này
                                                                  nhỉ. Nào hãy bắt đầu điểm qua một số
            <i><b>địa điểm ăn uống </b></i>với một số thông tin du lịch du lịch Hà Nội sau nhé.
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Phố cổ hà Nội">1. Phố cổ hà Nội </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/pho-co-ha-noi.webp">
            <img class="img-fluid rounded" src="/images/pho-co-ha-noi.webp"
                 alt="Du lịch Hà Nội - Một góc địa điểm ăn uống phố cổ Hà Nội"/>
            <figcaption class="text-muted">Địa điểm ăn uống - Phố cổ Hà Nội</figcaption>
        </figure>

        <span itemprop="articleBody">
            <p>Muốn tìm hiểu về cuộc sống, văn hóa và con người<strong> Tràng An</strong> thì bạn đừng
               bỏ qua phố cổ – một trong những địa điểm<strong> du lịch Hà Nội</strong> đầy thú vị và
               hấp dẫn với du khách. Phố cổ <strong> Hà Nội</strong> nằm ở phía Tây và phía Bắc của Hồ
               Hoàn Kiếm, là nơi tập trung đông dân cư sinh sống có 36 phố phường. Mỗi con phố ở đây chủ
               yếu tập trung bán một loại mặt hàng nhất định. Lang thang ở khu phố Hà Nội và thưởng thức
               ẩm thực phố cổ như phở Bát Đàn, chả cá Lã Vọng, bún chả hàng Mành, mì vằn thắn Đinh Liệt,
               bún ốc nguội Ô Quan Chưởng,…sẽ khiến chuyến đi của bạn đáng nhớ hơn rất nhiều! Lựa chọn
               nhiều khách sạn<strong> Phố cổ</strong> để tận hưởng ẩm thực nơi đây.
            </p>
            <p>
            </p>
            <ul><h3>Bạn có thể tham khảo một số<i> kiến thức du lịch </i>phố cổ sau:</h3>
                <li> Buổi sáng các bạn có thể ghé qua các địa điểm như ngõ chợ Đồng Xuân để thưởn)g thức
                     những món ăn ở đây như bún ốc, bún riêu… Ăn sáng xong bạn có thể vào trong chợ để
                     tham quan các gian hàng. Sau đó bạn có thể tiếp tục hành trình tới các địa điểm như
                     Ô Quan Chưởng, nhà cổ Mã Mây, đền Bạch Mã
                </li>
                <li>Buổi trưa bạn có thể lựa chọn ăn bún chả Hàng Mành, bún đậu ngõ Phất Lộc hay cơm đảo
                    gà rang trên phố Mã Mây. Đến chiều bạn tiếp tục tham quan hồ Hoàn Kiếm và đền Ngọc
                    Sơn.
                </li>
                <li> Buổi tối bạn có thể đi bằng cách dạo ở phố đi bộ, khám phá chợ đêm. Hoặc không bạn
                     có thể tới phố Tây Tạ Hiện ăn uống và ngắm nhìn sự nhộn nhịp của thành phố.
                </li>
            </ul>
        </span>

        <p></p>
    </article>
    <!--  Phần nội dung phần 2  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Cầu Long Biên">2. Cầu Long Biên </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/mages/cau-long-bien.webp">
            <img class="img-fluid rounded" src="/images/cau-long-bien.webp"
                 alt="Du lịch Hà Nội - Cầu Long Biên Hà Nội"/>
            <figcaption class="text-muted">Địa điểm du lịch - Cầu Long Biên</figcaption>
        </figure>
        <p itemprop="articleBody">Cầu Long Biên, được người Pháp xây dựng vào những năm cuối của thế kỷ
                                  19, đầu thế kỷ 20. Cây cầu đã trở nên cổ kính, han rỉ khi mà chứng
                                  kiến biết bao nhiêu sự kiện lịch sử oai hùng của đất nước, từ những
                                  ngày gian khổ khi bị bóc lột, cho tới lúc mà đất nước chìm đắm trong
                                  chiến tranh, bom đạn đến tận ngày đất nước hoàn toàn giải phóng, giành
                                  được độc lập tự do. Cầu Long Biên vẫn ở đó, hơn 1 thế kỷ oằn mình
                                  trong bom đạn, và trong thời bình giúp cho đất nước phát triển kinh
                                  tế, giao thông hàng hóa một cách thuận lợi. Vì thế mà sau tháp Bút,
                                  đền Ngọc Sơn, chùa Một Cột thì cầu Long Biên một trong những biểu
                                  tượng đặc trưng và độc đáo nhất về lịch sử, văn hóa Hà Nội do con
                                  người tạo ra.Ngày nay, vai trò huyết mạch giao thông tuy không còn
                                  nhưng Cầu Long Biên vẫn là cây cầu mang tính lịch sử, hiên ngang chứng
                                  kiến <strong> Hà Nội</strong> đang chuyển mình mạnh mẽ từng ngày, từng
                                  giờ và gợi cho người dân Thủ đô nhớ về quá khứ. Đây cũng là một điểm
                                  đến lý tưởng mà bạn không thể bỏ qua trong chuyến <strong>du lịch Hà
                                                                                            Nội</strong>.
        </p>
    </article>
    <!--  phần 3  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Chùa Hương">3. Chùa Hương </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/chua-huong.webp">
            <img class="img-fluid rounded" src="/images/chua-huong.webp"
                 alt="Du lịch Hà Nội - Chùa Hương"/>
            <figcaption class="text-muted">Địa điểm du lịch - Chùa Hương</figcaption>
        </figure>

        <span itemprop="articleBody">
            <p>Chùa Hương nằm cách <strong> Hà Nội</strong> 60km về phía Tây Nam giữa những cánh đồng
               lúa tươi tốt, núi đá vôi và những ngôi làng đẹp như tranh vẽ, Chùa Hương là địa điểm du
               lịch gần <strong> Hà Nội</strong> đi trong ngày cho những người yêu thiên nhiên.Đến Chùa
               Hương bạn sẽ được hưởng thức cảnh quan tuyệt đẹp trên vùng đất canh tác phong phú của
               đồng bằng sông Hồng. Đặc biệt, Chùa Hương còn nổi tiếng bởi là một trong những ngôi Chùa
               linh thiêng nhất ở miền Bắc Việt Nam. Chùa Hương là quần thể thắng cảnh rải rắc trong
               thung lũng suối Yến. Đến Chùa Hương bạn nên trải nghiệm đi đò trên suối, thăm chùa Thiên
               Trù và động Hương Tích, Đền Trình – đây được coi là 3 điểm đến đẹp nhất cũng như linh
               thiêng nhất mà bạn nên ghé qua.
            </p>
            <p>
            </p>
            <ul><h3>Cẩm lang du lịch chùa Hương</h3>
                <li><b><i>Hướng dẫn đi Chùa Hương:</i></b> Từ <strong> Hà Nội</strong> bạn có thể đi ô
                                                           tô, xe máy hoặc xe buýt đến Chùa Hương. Nếu
                                                           đi ô tô bạn hãy đi theo hướng quốc lộ 1A
                                                           (Pháp Vân Cầu Giẽ). Còn nếu là xe máy thì bạn
                                                           có thể dọc theo đường quốc lộ 1A cũ đi về
                                                           phía Thanh Trì. Với lựa chọn xe buýt, bạn đi
                                                           xe 103 Mỹ Đình – Hương Sơn chỉ với 9.000
                                                           đồng/lượt
                </li>
                <li><b><i>Thời điểm du lịch Chùa Hương: </i></b>Lễ hội Chùa Hương thường diễn ra từ mùng
                                                                6 tháng Giêng đến hết tháng 3 âm lịch
                                                                hàng năm – là mùa các tín đồ phật tử từ
                                                                khắp nơi đổ về hành hương, lễ Phật, cầu
                                                                bình an. Tuy nhiên, nếu bạn muốn tận
                                                                hưởng trọn vẹn cảnh đẹp non nước, tĩnh
                                                                tâm lễ Phật và tránh gặp tình trạng du
                                                                lịch “chặt chém” thì nên đi vào mùa thu
                                                                tháng 10 – 11 la đẹp nhất – tiết trời
                                                                trong lành, mát mẻ, hoa súng nở rộ trên
                                                                suối Yến vô cùng nên thơ hữu tình.
                </li>
                <li><b><i>Ăn uống ở Chùa Hương:</i></b>Dịch vụ ăn uống xung quanh Chùa Hương cũng rất
                                                       nhiều nhưng bạn nên khảo giá trước. Nằm ở chân
                                                       núi lên chùa Thiên Trù có nhà hàng Mai Lâm là
                                                       chất lượng nhất. Thực đơn phong phú, giá cả hợp
                                                       lý và chất lượng phục vụ tốt của quán được rất
                                                       nhiều khách du lịch khen ngợi.
                </li>
            </ul>
        </span>
        <p></p>
    </article>
    <!--  phần 4  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Làng gốm Bát Tràng">4. Làng gốm Bát
                                                                                     Tràng </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/lang-gom-bat-trang.jpg">
            <img class="img-fluid rounded" src="/images/lang-gom-bat-trang.jpg"
                 alt="Du lịch Hà Nội - Làng gốm Bát Tràng"/>
            <figcaption class="text-muted">Địa điểm du lịch - Làng gốm Bát Tràng</figcaption>
        </figure>

        <span itemprop="articleBody">
            <p>Bát Tràng là làng nghề truyền thống làm gốm lâu đời nổi tiếng – một trong những địa điểm
               du lịch gần <strong> Hà Nội</strong> trong ngày được du khách yêu thích. Đến với Làng Gốm
               Bát Tràng bạn sẽ được tham quan khu làm việc của những nghệ nhân gốm, chợ gốm, gói gém
               mấy món đồ lưu niệm, cốc tách, xinh xắn mang về làm quà.Đặc biệt, hoạt động thú vị nhất
               khi đến đây là các bạn có thể tự tay sáng tạo ra những sản phẩm gốm cho riêng mình với sự
               hướng dẫn của những anh chị làm nghề. Phí sẽ tính theo số sản phẩm hoàn chỉnh của bạn từ
               khâu nặn đất sét, đến cho vào lò nung và tô màu là khoảng 40.000 – 60.000 vnđ/sp, thời
               gian không giới hạn, nếu muốn bạn có thể ngồi cả ngày nặn gốm miễn là ra một tác phẩm ưng
               ý nhất thôi.Ngoài ra, đối với những bạn thích chụp ảnh thì có thể làm một “tour” khám phá
               xóm cổ. Trong những con hẻm nhỏ hẹp sâu tít tắp, rêu phong bám trên những vách tường đá
               ong, giàn cây leo rủ rợp bóng trên những mái nhà, bạn sẽ thấy mình tràn ngập cảm hứng để
               “tác nghiệp” ra những bức hình chất ngất.
            </p>
            <p>
            </p>
            <ul><h3 title="Thông tin du lịch - Cẩm lang du lịch Làng gốm Bát Tràng">Cẩm lang du lịch
                                                                                    Làng gốm Bát
                                                                                    Tràng:</h3>
                <li><b><i>Hướng dẫn cách đi Làng gốm Bát Tràng:</i></b> từ <strong> Hà Nội</strong> bạn
                                                                        có thể đi xe máy theo hướng cầu
                                                                        Thanh Trì chỉ mất khoảng 45 phút
                                                                        là đến nơi rồi. Nếu đi xe buýt
                                                                        tuyến 47A (BX Long Biên – Bát
                                                                        Tràng), 47B (Long Biên – Kim
                                                                        Lan) hoặc tuyến 52B(CV Thống
                                                                        Nhất – Đặng Xá) – giá vé: 7000 –
                                                                        9000 vnđ/lượt
                </li>
                <li><b><i>Ăn gì ở Bát Tràng: </i></b>Gần khu chợ Gốm Sứ có khá nhiều hàng quán, bạn có
                                                     thể thưởng thức món Bún Chả ở đây cũng khá ngon,
                                                     ngoài ra cũng có nhiều món ăn khác như Bánh tẻ thơm
                                                     6000 vnđ/cặp, Bánh Sắn 5000 vnđ/chiếc.
                </li>
            </ul>
        </span>
        <p></p>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6">
        <h2 itemprop="articleSection">Tổng kết</h2>

        <span itemprop="articleBody">
            <p>Hà Nội nghìn năm văn hiến,một Hà Nội phồn hoa nhộn nhịp hối hả,hay đơn thuần chỉ là Hà
               Nội mộng mơ trong lòng mỗi người thì với bất cứ ai đã từng du lịch Hà Nội,có lẽ sẽ không
               thể quên được những cảm giác mới mẻ,phấn khích khi đặt chân đến đây lần đầu.
            </p>
            <p>
                Bạn đã đến Hà Nội? Vì nét đẹp nên thơ hay vì hương cốm. Vì cái lạnh căm căm hay chiếc lá
                vàng chiều hạ. Dù vì lý do gì tôi cũng chúc các bạn một chuyến đi du lịch Hà Nội vui vẻ
                và sẽ mang về cho ký ức mình đầy trải nghiệm. Và đừng quên theo dõi trang web của mình
                để cập nhập những kiến thức du lịch bổ ích nhé.
            </p>
        </span>
        <hr/>
    </article>
</section>
