<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p class="lead">
            <span id="_articleSection5" itemprop="articleSection">Du lịch Nha Trang - Nếu đã từng một
                                                                  lần tới với Nha Trang, du khách sẽ dễ
                                                                  dàng bị “đánh gục” bởi sự quyến rũ và
                                                                  năng động của thành phố biển xinh đẹp
                                                                  này</span>.
        </p>

    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">1. Tổng quan về Nha Trang </h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/tam-nang-tai-nha-trang.webp">
            <img class="img-fluid rounded" src="/images/tam-nang-tai-nha-trang.webp"
                 alt="Du lịch Nha Trang - Nha Trang là điểm đến được rất nhiều du khách nước ngoài yêu thích"/>
            <figcaption class="text-muted">Du lịch Nha Trang - Hoạt động tắm nắng được yêu thích tại Nha
                                           Trang
            </figcaption>
        </figure>

        <span id="_articleBody6" itemprop="articleBody">
            <p>Nha Trang tuy có khí hậu nhiệt đời gió mùa, nhưng cũng chịu chi phối nhiều bởi khí hậu
               đại dương. Chính vì thế khí hậu Nha Trang tương đối ôn hòa, không quá khắc nghiệt như ở
               miền Bắc và cũng không quá thất thường như trong miền Nam. Mùa đông ở Nha Trang ít
               lạnh,và mùa hè thường kéo dài nhưng nắng nóng không quá gay gắt. Thời tiết Nha Trang cũng
               có hai mùa mưa nắng rõ rệt. Thêm vào đó, thành phố biển Nha Trang lại nằm trong vùng ít
               chịu ảnh hưởng của gió bão. Chính vì thế du lịch Nha Trang quanh năm luôn sẵn sàng chào
               đón du khách ghé thăm.
            </p>
            <p>
                Nha Trang được thiên nhiên ban tặng nhiều cảnh đẹp : Tứ Bình , Đảo Hòn Mun, Đảo Hòn Tằm,
                Vịnh Ninh Vân<br/> Cùng các món ăn mang đậm ẩm thực của một thành phố biển: Bún chả cá,
                Bún sứa ...
            </p>
        </span>
    </article>
    <!--  Phần nội dung phần 2  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">2. Tứ Bình </h2>

        <span itemprop="articleBody">
            <p>Đến với vùng biển tứ bình, bạn có thể thỏa sức khám phá những bãi biển hoang sơ bậc nhất,
               những làng chài ít bóng khách du lịch và tha hồ thưởng thức đặc sản tôm hùm cùng các món
               hải sản với giá cực rẻ. Do đây là vùng biển nằm trong khu vực quân sự nên cũng khá hạn
               chế khách du lịch, khách nước ngoài hoàn toàn không được phép lên đảo. Vì vậy, tứ bình
               vẫn giữ được những nét đẹp của riêng mình mà không nơi nào có được.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/bien-nha-trang.webp"
                     alt="Du lịch Nha Trang - Bình Ba"/>
                <figcaption class="text-muted">Du lịch Nha Trang - Bình Ba</figcaption>
            </figure>
            <p>Bình Ba là một đảo nhỏ có diện tích hơn 3km², thuộc xã Cam Bình, thành phố Cam Ranh, tỉnh
               Khánh Hòa. Cách Nha Trang 60 km, cách thành phố Hồ Chính Minh tầm 390km. Muốn đến Bình
               Ba, bắt buộc chúng ta phải đến cảng Ba Ngòi. Cảng Ba Ngòi cách sân bay Cam Ranh 15km,
               Bình Ba cách cảng Ba Ngòi cũng 15km. Bình Ba thu hút du khách nhờ biển trời hoang sơ,
               nước xanh trong vắt, người dân thân thiện, giá cả phải chăng và đặc sản tôm hùm nổi
               tiếng.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/binh-ba.webp"
                     alt="Du lịch Nha Trang - Đảo Bình Hưng nhìn từ trên cao."/>
                <figcaption class="text-muted">Du lịch Nha Trang :Đảo Bình Hưng nhìn từ trên cao.
                </figcaption>
            </figure>
            <p>Bình Hưng thuộc địa phận xã Cam Bình thuộc thành phố Cam Ranh, và nằm ẩn mình dưới chân
               đèo của cung đường biển Bình Tiên – Vĩnh Hy. Nơi đây nổi tiếng với những bãi cát trắng
               mịn, và làn nước trong xanh. Đảo chưa được khai thác du lịch nhiều nên vẫn còn giữ nguyên
               được nhiều nét hoang sơ vô cùng quyến rũ.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/binh-lap.webp"
                     alt="Du lịch Nha Trang - Bình Lập"/>
                <figcaption class="text-muted">Du lịch Nha Trang :Bình Lập</figcaption>
            </figure>
            <p>Bình Lập thuộc vịnh nước sâu Cam Ranh, Khánh Hòa thuộc miền Nam Trung Bộ, do đó thời tiết
               ở Bình Lập khá dễ chịu. Bạn có thể đến Bình Lập vào bất cứ thời gian nào trong năm. Tuy
               nhiên, nếu vào mùa mưa từ tháng 9 đến tháng 12, bạn nên theo dõi thời tiết trước vài ngày
               để lựa chọn cho mình ngày đi thích hợp. Đối với những tháng xuân và hè, biển Bình Lập
               trong xanh, nước biển trong vắt thấy đáy là khoảng thời gian đẹp nhất để khám phá Bình
               Lập.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/bien-binh-tien.webp"
                     alt="Du lịch Nha Trang - Biển Bình Tiên. "/>
                <figcaption class="text-muted">Du lịch Nha Trang :Biển Bình Tiên.</figcaption>
            </figure>
            <p>Bình Tiên nằm cách thành phố Phan Rang – Tháp Chàm 30 km theo hướng Nam – Bắc và cách
               thành phố Nha Trang 70 km theo hướng Bắc – Nam. Xuất phát từ Phan Rang đi theo quốc lộ 1A
               đến km số 1.525, du khách sẽ thấy một con đường nhựa nhỏ chạy vào khoảng 10 km, bãi biển
               Bình Tiên sẽ lộ ngay trước mặt du khách với vẻ hoang sơ, bình yên và tĩnh lặn.
            </p>
        </span>
    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">3. Vinpearl Land </h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/Vinpearl-Land-nha-trang.webp">
            <img class="img-fluid rounded" src="/images/Vinpearl-Land-nha-trang.webp"
                 alt="Du lịch Nha Trang - Du khách vui chơi tại Vinpearl Land."/>
            <figcaption class="text-muted">Du lịch Nha Trang - Du khách vui chơi tại Vinpearl Land.
            </figcaption>
        </figure>
        <p>
            <span itemprop="articleBody">Nằm trên đảo Hòn Tre cùng với những bãi biển trong xanh quanh
                                         năm, Vinpearl Land được biết đến như “thiên đường của miền
                                         nhiệt đới”. Ngoài những khách sạn sang trọng, những khu vườn
                                         tuyệt đẹp, hồ bơi lý tưởng,cùng với đó nơi này còn thu hút du
                                         khách với khu trò chơi cảm giác mạnh và những rạp chiếu phim 4D
                                         hoành tráng</span>.
        </p>
    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">4. Đảo Hòn Mun</h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/hon-mun-nha-trang.webp">
            <img class="img-fluid rounded" src="/images/hon-mun-nha-trang.webp"
                 alt="Du lịch Nha Trang - Hòn Mun hoang sơ nhìn từ trên cao"/>
            <figcaption class="text-muted">Du lịch Nha Trang - Hòn Mun hoang sơ nhìn từ trên cao
            </figcaption>
        </figure>
        <p itemprop="articleBody">Hòn Mun có dòng nước trong veo và hệ sinh thái san hô đẹp , đã được
                                  Quỹ Ðộng vật hoang dã được thế giới (WWF) đánh giá là một khu vực đa
                                  dạng sinh học biển bậc nhất ở Việt Nam. Đến Hòn Mun, du khách không
                                  thể bỏ qua các hoạt động như: Bar nổi trên biển, lặn biển khám phá san
                                  hô, và thuyền đáy kính…

        </p>
    </article>
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">5. Đảo Hòn Tằm </h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/hon-tam-nha-trang.webp">
            <img class="img-fluid rounded" src="/images/hon-tam-nha-trang.webp"
                 alt="Du lịch Nha Trang - Một góc xinh đẹp trên đảo Hòn Tằm"/>
            <figcaption class="text-muted">Du lịch Nha Trang - Một góc xinh đẹp trên đảo Hòn Tằm
            </figcaption>
        </figure>
        <p itemprop="articleBody">Đảo có diện tích khoảng 110 ha, cách thành phố Nha Trang 7km về phía
                                  Đông Nam. Từ Hòn Tằm có thể nhìn thấy cả thành phố Nha Trang từ hướng
                                  Bắc cùng với bán đảo Cam Ranh ở phía Nam. Ngoài bãi tắm tuyện đẹp, nơi
                                  đây còn nổi tiếng với hoạt động khám phá biển bằng tàu đáy kính cũng
                                  như dịch vụ lặn biển ngắm san hô.
        </p>
    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">
        <h2 itemprop="articleSection">6. Vịnh Ninh Vân </h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/vinh-ninh-nha-trang.webp">
            <img class="img-fluid rounded" src="/images/vinh-ninh-nha-trang.webp"
                 alt="Du lịch Nha Trang - Vịnh Ninh Vân hoang sơ và lãng mạn."/>
            <figcaption class="text-muted">Du lịch Nha Trang - Vịnh Ninh Vân hoang sơ và lãng mạn.
            </figcaption>
        </figure>
        <p>
            <span itemprop="articleBody">Cách thành phố biển Nha Trang 60 cây số, nằm ở bán đảo Hòn Mèo,
                                         vịnh Ninh Vân mang đậm nét hoang sơ và thuần khiết. Nơi đây đặc
                                         biệt thích hợp cho những ai muốn tìm cảm giác thư thái trong
                                         không gian biển tĩnh lặng. Ngoài ra, bạn cũng có thể ngắm san
                                         hô, lặn biển hay cùng với thử chơi lướt sóng, lướt ván, đi
                                         thuyền Kayak</span>.
        </p>

    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7" class="post-body">

        <h2 itemprop="articleSection">7. Ăn uống tại Nha Trang</h2>

        <span itemprop="articleBody">
            <figure class="text-center">
                <p>1. Bún chả cá</p>
                <p> Đây là món ăn nổi tiếng của thành phố biển Nha Trang, món ăn đơn giản với nước dùng
                    trong, chả cá và những sợi bún loại nhỏ xíu. Chả cá ngon và nổi tiếng do làm từ cá
                    tươi, đảm bảo độ dai. Nguyên liệu là cá thu, cá mối, cá cờ… thường được chế biến
                    thành hai loại là chả hấp và chả chiên.
                </p>
                <img class="img-fluid rounded" src="/images/bun-tra-ca-nha-trang.webp"
                     alt="Món ăn ngon - Món bún chả cá thơm ngon"/>
                <figcaption class="text-muted">Món ăn ngon - Món bún chả cá thơm ngon.</figcaption>
            </figure>
            <figure class="text-center">
                <p>2. Bún sứa</p>
                <p> Sứa nấu bún phải chọn loại nhỏ bằng đầu ngón tay cái, màu trắng đục, mình dày, nhìn
                    giống như cơm trái dừa nước. Bún sứa ngon còn ở nước dùng được nấu bằng cá liệt,
                    loại cá chỉ lớn chừng ba ngón tay với phần đuôi thắt lại trông như cái nơ, không
                    xương nhỏ và ngọt lừ. Ăn thấy thanh và không ngán. Thành phần nước dùng còn có vị
                    ngọt của chả cá tiết ra. Khi thưởng thức, thực khách sẽ có cảm nhận trọn vẹn nước
                    dùng ngọt thanh, sứa giòn giòn, mát lạnh và vị cay ở ớt tạo nên cái ngon tuyệt vời.
                </p>
                <img class="img-fluid rounded" src="/images/bun-sua-nha-trang.webp"
                     alt="Món ăn ngon - Món bún sứa lạ miệng."/>
                <figcaption class="text-muted">Món ăn ngon - Món bún sứa lạ miệng.</figcaption>
            </figure>
            <figure class="text-center">
                <p>3. Bánh ướt</p>
                <p> Nổi tiếng và được nhiều người biết đến nhất là bánh ướt Diên Khánh, một huyện giáp
                    ranh với thành phố Nha Trang. Người dân Khánh Hòa thường ăn bánh ướt không với nước
                    mắm chua ngọt, tuy nhiên, bạn có thể thưởng thức món ăn này với thịt nướng, thịt heo
                    quay, lòng heo, tôm, nem…

                </p>
                <img class="img-fluid rounded" src="/images/banh-uot-nha-trang.webp"
                     alt="Món ăn ngon - Bánh ướt"/>
                <figcaption class="text-muted">Món ăn ngon - Bánh ướt</figcaption>
            </figure>
            <figure class="text-center">
                <p>4. Nem Ninh Hòa</p>
                <p> Thành phần chính của nem là thịt lợn tươi vừa mới mổ xong, lạng bỏ hết gân, rửa
                    sạch, lau khô bằng vải sạch và thái từng lát mỏng. Sau đó cho thịt và gia vị như:
                    muối, tiêu, đường, bột ngọt vào cối quết thật nhuyễn, quết càng nhanh tay thịt càng
                    săn chắc lại thì nem càng ngon. Trong công đoạn chế biến nem người ta không quên
                    thêm da heo thái mỏng vào. Nem Ninh Hòa được gói bằng lá chùm ruột hoặc lá khế… Lựa
                    những chiếc lá còn non xanh để để tạo mùi thơm. Nem sau khi gói xong được để nơi
                    thoáng mát qua hôm sau là có thể dùng được.
                </p>
                <img class="img-fluid rounded" src="/images/nem-ninh-hoa-nha-trang.webp"
                     alt="Món ăn ngon - Nem Ninh Hòa"/>
                <figcaption class="text-muted">Du lịch Nha Trang :Nem Ninh Hòa</figcaption>
            </figure>
        </span>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url7">
        <meta itemprop="articleBody" content="Nha Trang cùng với biển và camhr quan thiên nhiên đẹp đã tạo nên một địa điểm du lịch vô cùng
                        lí tưởng và hoàn hảo. Hãy cùng chúng tôi khám phá Nha Trang và mọi miền của đất nước Việt
                        Nam </P>
                    <P>Bạn muốn biết thêm những thông tin gì về Nha Trang hãy liên hệ với chúng tôi">
        <h2 itemprop="articleSection">Tổng kết</h2>
        <p>Nha Trang cùng với biển và camhr quan thiên nhiên đẹp đã tạo nên một địa điểm du lịch vô cùng
           lí tưởng và hoàn hảo. Hãy cùng chúng tôi khám phá Nha Trang và mọi miền của đất nước Việt
           Nam </p>
        <p>Bạn muốn biết thêm những thông tin gì về Nha Trang hãy liên hệ với chúng tôi. </p>
        <hr/>
    </article>
</section>
