<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p id="_articleBody5" itemprop="articleBody" class="lead">
            Nhắc đến <b><i>Huế </i></b>người ta
            thường nghĩ ngay đến các cung điện,
            đền đài mang hơi thở
            cổ xưa một thời vua chúa huy hoàng. Ai
            cũng muốn một lần <b><i> du lịch
                                     Huế </i></b>
            để tận
            mắt nhìn thấy những bằng chứng sinh
            động của triều đại phong kiến cuối
            cùng. Không chỉ thế,
            nét dịu dàng thư thái và cuộc sống
            chậm rãi nơi đây cũng được nhiều người
            yêu thích.Bên cạnh
            đó <b><i> Huế </i></b> còn mang trên
            mình nét đặc trưng văn hóa độc đáo và
            nhiều đặc sản
            khiến ai một lần ghé qua đây cũng nhớ
            mãi không quên.Vì lẽ đó <b><i>
                    Huế </i></b> từ lâu đã
            trở thành một <i>địa điểm du lịch </i>
            lí tưởng cho mọi du khách.Nào giờ ta
            cùng điểm qua những địa điểm du lịch
            Huế hấp dẫn bạn nên đặt chân đến nha.
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Khu vực thành nội (kinh thành Huế)">1.
                                                                                                     Khu
                                                                                                     vực
                                                                                                     thành
                                                                                                     nội
                                                                                                     (kinh
                                                                                                     thành
                                                                                                     Huế) </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net//images/hoang-thanh-hue.webp">
            <img class="img-fluid rounded" src="/images/hoang-thanh-hue.webp"
                 alt=" Du lịch Huế - Hoàng thành Huế"/>
            <figcaption class="text-muted">Địa điểm du lịch - Ngọ môn Hoàng thành Huế</figcaption>
        </figure>
        <p itemprop="articleBody"><b><i>Kinh thành Huế </i></b> là<i> địa điểm du lịch , nơi vui chơi
                                                                      đầy hứa hẹn</i> mà bất kỳ ai đã
                                                                từng đi du lịch<b><i>
                    Huế </i></b> đều không thể bỏ lỡ. Là kinh đô của triều Nguyễn trong suốt 143, kinh
                                                                thành Huế đã được
                                                                UNESCO công nhận là Di sản Văn hóa Thế
                                                                giới. Kinh thành <b><i> Huế </i></b>
                                                                có diện tích đến 520 ha và được chia
                                                                thành hai phần: nơi dân thường và quan
                                                                lại sinh sống, và Hoàng Thành – nơi sống
                                                                và làm việc của vua và hoàng
                                                                tộc.Nói đơn giản, Hoàng thành là vòng
                                                                thành thứ hai trong quần thể kinh
                                                                thành <b><i> Huế </i></b>, là nơi vua
                                                                quan triều Nguyễn làm việc. Vòng
                                                                thành cuối cùng của kinh thành<b><i>
                    Huế </i></b> chính là Tử Cấm Thành,
                                                                gồm các cung điện nơi vua và hoàng gia
                                                                sinh hoạt hằng ngày.
        </p>
    </article>
    <!--  Phần nội dung phần 2  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Phá Tam Giang – Đầm Chuồn">2. Phá Tam
                                                                                            Giang – Đầm
                                                                                            Chuồn </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net//images/dam-pha-tam-giang.webp">
            <img class="img-fluid rounded" src="/images/dam-pha-tam-giang.webp"
                 alt=" Du lịch Huế - Phá Tam Giang – Đầm Chuồn Huế "/>
            <figcaption class="text-muted">Địa điểm du lịch - Đầm Phá Tam Giang</figcaption>
        </figure>

        <span itemprop="articleBody">
            <p>Nếu bạn là những “tay săn” địa điểm bình minh và hoàng hôn đẹp, thì hãy tới ngay Phá Tam
               Giang, nơi giao
               thoa của những con sông uốn khúc: sông Ô Lâu, sông Hương, và sông Bồ sau đó dòng nước
               xuôi ngược ra biển
               qua cửa Thuận An. Được mệnh danh là đầm phá lớn nhất Đông Nam Á, điểm du lịch này có một
               vẻ đẹp rất hoang sơ nhưng vẫn
               rất thơ mộng làm say đắm lòng người. Phá cách thành phố trung tâm <b><i> Huế </i></b>
               khoảng 10 km về
               phía Nam, mà đường đi lại cực kì dễ dàng nhé. Bạn chỉ cần theo Quốc lộ 49 hướng về An
               Truyền, qua cầu Tư
               Hiền sẽ đến nơi.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/dam-pha-tam-giang-hoang-hon.webp"
                     alt="Du lịch Huế - Phá Tam Giang – Đầm Chuồn Huế"/>
                <figcaption class="text-muted">Thông tin du lịch - Hoàng hôn ở Đầm Phá Tam Giang
                </figcaption>
            </figure>
            <p>Ở trong phá là Đầm Chuồn, được xem là chốn bình yên nhất tuyệt nhất tại <b><i>
                        Huế </i></b>. Địa điểm du lịch này
               hấp dẫn các bạn trẻ tìm đến check-in bởi những buổi bình minh Đầm Chuồn đỏ rực, chói
               chang cái nắng vàng
               buổi trưa và nhuốm màu tím hoàng hôn chiều tà như một cõi mơ. Cảnh sắc tuyệt đẹp như bức
               tranh thuỷ mặc ở
               nơi đây chính là điểm hẹn hò lý tưởng của những cặp đôi.Trong chuyến du lịch Huế , Để
               ngắm bình minh thì thời điểm từ 5:00 đến 5:30
               là thời điểm thích hợp nhất, còn hoàng hôn thì là tứ 16:00 đến 17:30 nhé.Nếu bạn cũng là
               tín đồ của những
               món ăn ngon, thì chuyến đi du lịch này cho bạn có thể thưởng thức món ngon nổi tiếng:
               bánh khoái cá kình. Đầm Chuồn vốn có
               năm loại cá nổi tiếng là cá ong, cá dìa, cá mú, cá nâu, và cá kình vì thịt cá dai, thơm,
               và ngọt...
            </p>
        </span>
    </article>
    <!--  phần 3  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection" title="Thông tin du lịch - Vịnh Lăng Cô">3. Vịnh Lăng Cô </h2>
        <figure class="text-center">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net//images/vinh-lang-co.webp">
            <img class="img-fluid rounded" src="/images/vinh-lang-co.webp"
                 alt="Du lịch Huế - Vịnh Lăng Cô "/>
            <figcaption class="text-muted">Thông tin du lịch - Vịnh Lăng Cô</figcaption>
        </figure>
        <p itemprop="articleBody">Được coi là vịnh biển nguyên sơ dưới chân đèo Hải Vân, mang trong mình
                                  vẻ đẹp yên bình chính là vịnh Lăng
                                  Cô.Trong những năm gần đây, Lăng Cô (<b><i> Huế </i></b>) đã chứng
                                  kiến sự ra đời của nhiều dự án du lịch
                                  nghỉ dưỡng đẳng cấp quốc tế nhằm đáp ứng nhu cầu của du khách trong và
                                  ngoài nước.Vịnh Lăng Cô có chiều
                                  dài 42,5 km, cách thành phố <b><i> Huế </i></b> hơn 60 km và cách Đà
                                  Nẵng 20 km. Năm 2009, Lăng Cô vinh
                                  dự nhận được danh hiệu “Lăng Cô - Vịnh đẹp thế giới” do Câu lạc bộ các
                                  vịnh đẹp nhất thế giới (Worldbays)
                                  bình chọn.<b><i> Lăng Cô</i></b> dù đã và đang thu hút du khách trong
                                  và ngoài nước, nhưng điểm
                                  đến này vẫn giữ được vẻ đẹp hoang sơ và quyến rũ như thuở đầu. Sở hữu
                                  bãi tắm phẳng lì, nước xanh ngắt
                                  tuyệt đẹp và hệ sinh thái rất đa dạng, Lăng Cô khiến bất kể du khách
                                  nào từng đến đây đều phải trầm trồ,
                                  choáng ngợp.<b><i> đến Lăng Cô</i></b> du khách có thể thu vào tầm mắt
                                  cảnh sắc của thiên nhiên
                                  đang hòa ca cùng nhịp sống bình yên của con người nơi đây.Ngoài những
                                  giá trị mà thiên nhiên ưu ái ban
                                  tặng,<b> vịnh Lăng Cô </b> còn nằm trên con đường di sản miền Trung
                                  trải dài từ động Phong Nha, cố đô <b><i>
                    Huế </i></b> đến phố cổ Hội An, thánh địa Mỹ Sơn. Nơi đây hội tụ tài nguyên du lịch
                                  phong phú và nhiều
                                  sản phẩm du lịch hấp dẫn nhằm đáp ứng nhu cầu thưởng ngoạn của du
                                  khách thập phương khi đi du lịch Huế.
        </p>
    </article>
    <!--  phần 4  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection"
            title="Thông tin du lịch - Địa chỉ quán ăn ngon rẻ ở Huế không thể bỏ qua">4. Địa chỉ quán
                                                                                       ăn ngon rẻ ở Huế
                                                                                       không thể bỏ
                                                                                       qua </h2>

        <span itemprop="articleBody">
            <p>Giờ thì chúng ta điểm qua một số<b><i> địa điểm ăn uống,du lịch Huế </i></b>nổi tiếng ở
                <b><i> đây </i></b></p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/bun-bo-hue.webp"
                     alt="Địa điểm ăn uống - Bún bò Huế"/>
                <figcaption class="text-muted">Món ăn ngon - Bún bò Huế</figcaption>
            </figure>
            <p>
            </p>
            <ul><h3>- Quán bún giò heo</h3>
                <li>Địa chỉ: Đường Nguyễn Du, nằm gần ngã 3 Nguyễn Du – Chi Lăng</li>
            </ul>
            <p></p>
            <p>Đây là quán ăn bình dân ngon rẻ ở <b><i> Huế </i></b> với món bún bò giò heo đặc sản nổi
               tiếng mang đậm
               phong cách người<b><i> Huế </i></b>. Trên đường Nguyễn Du cũng có nhiều quán bún bò khác
               khá ngon, thường
               các quán này mở cửa vào buổi chiều và có một số quán bán buổi sáng nên bạn muốn ăn bún bò
                <b><i> Huế </i></b>
               thì có thể tới con đường này bất cứ lúc nào. Người Huế có sợi bún to gấp vài lần so với
               sợi bún bình
               thường, một tô bún có hương thơm của sả, xương bò, gia vị, hạt tiêu, giò heo, thịt bò và
               các loại rau
               thơm, giá đỗ, hoa chuối nên bạn sẽ được ăn no căng mà không hề thấy ngán chút nào.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/banh-canh-ba-doi-hue.jpg"
                     alt="Địa điểm ăn uống - Bánh canh ba đợi Huế"/>
                <figcaption class="text-muted">Món ăn ngon - Bánh canh ba đợi Huế</figcaption>
            </figure>
            <p>
            </p>
            <ul><h3>- Bánh canh bà Đợi</h3>
                <li>Địa chỉ: Số 9 Nguyễn Trãi, Số 01 Dương Văn An và Số 36 Ngô Gia Tự</li>
                <li>Giờ hoạt động: 7h – 22h</li>
            </ul>
            <p></p>
            <p>Bánh canh bà Đợi là quán ăn đặc sản lâu đời ở<b><i> Huế </i></b> khá có tiếng nên đã phát
               triển vài chi
               nhánh tại các con đường khác nhau nhằm phục vụ cho nhu cầu ăn uống của khách du lịch lẫn
               người dân địa
               phương. Giá bán một tô bánh canh như vậy khá rẻ và được bán theo các loại tô như tô nhỏ
               10k, tô thường
               15k và tô lớn 20k. Tô bánh canh có nước dùng thanh đạm, mỗi bát bánh canh có ít tôm và
               thịt ăn kèm với
               rau thơm, hành lá.
            </p>
        </span>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6">
        <h2 itemprop="articleSection">Tổng kết</h2>

        <span itemprop="articleBody">
            <p>Huế vẫn còn đọng lại đó nét văn hóa,nét cổ xưa đầy nguy nga và tráng lệ của một thời cố
               đô phong kiến.Là
               vùng đất mang trong mình vẻ yên bình,đẹp đẽ đến lạ thường.Với những ai thường bận rộn
               cũng nên dành cho
               mình thời gian để đến nơi đây,nhất là đi du lịch Huế cùng với người thân hay bạn bè sẽ
               cho bạn những phút
               giây trải nghiệm tuyệt vời
            </p>
            <p>Hy vọng những kiến thức du lịch,thông tin du lịch Huế sau có thể cung cấp một số thông
               tin hữu ích cho bạn nếu bạn có dự định du lịch
                <b><i> Huế </i></b> cùng gia đình hoặc bạn bè.Chúc bạn có những chuyến đi đáng nhớ du
               lịch <b><i>
                        Huế </i></b>tại đây.
            </p>
        </span>
        <hr/>
    </article>
</section>
