<section class="post">
    <!--  Phần giới thiệu  -->
    <article class="post-introduction">
        <p class="lead">Giới thiệu sơ lược về nội dung sẽ đề cập trong bài viết này</p>
        <p>Tổng quan | Di chuyển | Địa điểm tham quan | Địa điểm ăn uống | Trải nghiệm không thể bỏ qua
           | Khách sạn Phan Thiết | Địa điểm chụp ảnh đẹp
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">
        <meta id="_articleBody10" itemprop="articleBody" content="Phan Thiết là một thành phố thuộc tỉnh Bình Thuận, nằm trên quốc lộ 1A cách TP Hồ Chí Minh
                        183km về hướng Đông Bắc. Từ lâu Phan Thiết đã là một địa điểm du lịch biển nổi tiếng ở Việt
                        Nam với những bờ cát trắng trải dài, biển xanh và những hàng dừa cong vút.</P>
                    <P>Không chỉ sở hữu những khung cảnh thiên nhiên xinh đẹp, vùng đất này còn là một điểm đến du
                        lịch văn hóa hấp dẫn với những cộng đồng dân cư đa dạng người Hoa, người Chăm… Du lịch Phan
                        Thiết, bạn không chỉ được tham quan, ngắm cảnh mà được thưởng thức rất nhiều những món ăn
                        ngon được chế biến từ hải sản tươi sống">
        <h2 id="_articleBody5" itemprop="articleBody">1. Tổng quan về Phan Thiết </h2>
        <figure itemscope itemtype="http://schema.org/Article"
                itemref="_name1 _author2 _datePublished3 _url6 _articleSection7 _articleBody10"
                class="text-center">
            <meta itemprop="image" content="/images/lang-chai-phan_thiet.webp">
            <img class="img-fluid rounded" src="/images/lang-chai-phan_thiet.webp"
                 alt="Du lịch Phan Thiết : Làng chài yên tĩnh của Mũi Né"/>
            <figcaption class="text-muted">Du lịch Phan Thiết - Làng chài yên tĩnh của Mũi Né
            </figcaption>
        </figure>
        <p>Phan Thiết là một thành phố thuộc tỉnh Bình Thuận, nằm trên quốc lộ 1A cách TP Hồ Chí Minh
           183km về hướng Đông Bắc. Từ lâu Phan Thiết đã là một địa điểm du lịch biển nổi tiếng ở Việt
           Nam với những bờ cát trắng trải dài, biển xanh và những hàng dừa cong vút.
        </p>
        <p>Không chỉ sở hữu những khung cảnh thiên nhiên xinh đẹp, vùng đất này còn là một điểm đến du
           lịch văn hóa hấp dẫn với những cộng đồng dân cư đa dạng người Hoa, người Chăm… Du lịch Phan
           Thiết, bạn không chỉ được tham quan, ngắm cảnh mà được thưởng thức rất nhiều những món ăn
           ngon được chế biến từ hải sản tươi sống.

        </p>
    </article>
    <!--  Phần nội dung phần 2  -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection">2. Trường Dục Thanh</h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/truong-duch-thanh-phan-thiet.webp">
            <img class="img-fluid rounded" src="/images/truong-duch-thanh-phan-thiet.webp"
                 alt="Du lịch Phan Thiết : Trường Dục Thanh nhìn từ phía bên ngoài. Ảnh: Thecliffresort"/>
            <figcaption class="text-muted">Du lịch Phan Thiết - Trường Dục Thanh nhìn từ phía bên ngoài.
            </figcaption>
        </figure>
        <p itemprop="articleBody">Đây là ngôi trường do các sĩ phu yêu nước sáng lập vào năm 1907 để
                                  hưởng ứng phong trào Duy Tân tại Trung Kỳ. Ngôi trường Dục Thanh còn
                                  ghi dấu quãng thời gian chủ tịch Hồ Chí Minh dừng chân dạy học trước
                                  khi vào Sài Gòn. Ngày nay trong khu trường Dục Thanh còn giữ lại được
                                  gần như nguyên vẹn những kỷ vật cách đây gần ngót thế kỷ.
        </p>
    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection">3. Dinh Vạn Thủy Tú </h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/xuong-ca-voi.webp">
            <img class="img-fluid rounded" src="/images/xuong-ca-voi.webp"
                 alt="Du lịch Phan Thiết : Bộ xương cá voi được trưng bày tại Dinh Vạn Thủy Tú."/>
            <figcaption class="text-muted">Du lịch Phan Thiết - Bộ xương cá voi được trưng bày tại Dinh
                                           Vạn Thủy Tú.
            </figcaption>
        </figure>
        <p itemprop="articleBody">Trên đường Ngư Ông, phường Đức Thắng, TP. Phan Thiết có tồn tại một
                                  ngôi đền thờ thần Nam Hải –Tức Cá Ông (cá voi). Bộ cốt cá Ông được lưu
                                  giữ tại dinh Vạn Thủy Tú dài khoảng 22m, nặng 65 tấn, và được đánh giá
                                  là lớn nhất Việt Nam và cả Đông Nam Á. Hàng năm tại Dinh đều có diễn
                                  ra các kỳ tế lễ được tổ chức trang trọng vào các ngày âm lịch: 20/2
                                  (Tế Xuân); 20/4 (Cầu ngư); 20/6 (Chính mùa); 20/7 (Chèo dọc) và 23/8
                                  (Mãn mùa). Trong quá trình diễn ra nghi lễ còn có các hoạt động như
                                  hát bội, diễn bã trạo, và hội đua ghe...
        </p>
    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection">4. Lầu Ông Hoàng</h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/lau-ong-hoang.webp">
            <img class="img-fluid rounded" src="/images/lau-ong-hoang.webp"
                 alt="Du lịch Phan Thiết : Lầu Ông Hoàng là địa danh gây nhiều tò mò cho du khách."/>
            <figcaption class="text-muted">Du lịch Phan Thiết - Lầu Ông Hoàng là địa danh gây nhiều tò
                                           mò cho du khách.
            </figcaption>
        </figure>
        <p itemprop="articleBody">Trên đường đi du lịch Mũi Né chắc chắn bạn sẽ rất tò mò muốn khám phá
                                  Lầu Ông Hoàng vì nó gắn với tên tuổi nhà thơ Hàn Mạc Tử. Lầu Ông Hoàng
                                  từng là nơi hẹn hò giữa Hàn Mạc Tử và Mộng Cầm – người tình của nhà
                                  thơ. Nhà thơ Hàn Mạc Tử có nhiều bài thơ nói về nơi có phong cảnh hữu
                                  tình này.
        </p>
    </article>
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection">5. Khu vực xung quanh Mũi Né</h2>
        <figure class="text-center">
            <meta itemprop="image" content="/images/bai-rang-phan-thiet.webp">
            <img class="img-fluid rounded" src="/images/bai-rang-phan-thiet.webp"
                 alt="Du lịch Phan Thiết : Bãi Rạng hay biển Rạng"/>
            <figcaption class="text-muted">Mũi Né - Bãi Rạng hay biển Rạng</figcaption>
        </figure>

        <span itemprop="articleBody">
            <p>Bãi Rạng hay còn gọi biển Rạng là bãi tắm đẹp nhất của TP. Phan Thiết. Bãi Rạng cách
               trung tâm thành phố hơn 15 km về phía Bắc, nằm dưới các rặng dừa dày đặc trông giống khu
               rừng dừa rất đẹp. Mùa hè về, bãi Rạng chiều nào cũng có tấp nập khách đến tắm biển ,
               thưởng thức món cá chuồn xanh nướng ngọt lịm.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/hom-rom-phan-thiet.webp"
                     alt=" Khu vực xung quanh Mũi Né - Hòn Rơm"/>
                <figcaption class="text-muted">Khu vực xung quanh Mũi Né - Hòn Rơm</figcaption>
            </figure>
            <p>Hòn Rơm là tên một núi nhỏ vẫn còn hoang sơ nằm tại ấp Long Sơn, phường Mũi Né, TP. Phan
               Thiết. Tại đây, nước xanh trong và sóng êm, không có đá ngầm. Vào mỗi buổi sáng hoặc buổi
               chiều, bạn có thể ngồi ngắm bình minh hay hoàng hôn; vào buổi tối nhìn trăng lên hay tổ
               chức lửa trại. Ở Hòn Rơm, cụm bãi tắm có rất nhiều khu như: Hòn Rơm 1, Hòn Rơm 2, Thùy
               Trang…
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/hon-ghenh-phan-thiet.webp"
                     alt="Khu vực xung quanh Mũi Né - Hòn Ghềnh"/>
                <figcaption class="text-muted">Khu vực xung quanh Mũi Né - Hòn Ghềnh</figcaption>
            </figure>
            <p>Hòn Ghềnh- Cách Mũi Né chưa đầy 1 km, Hòn Ghềnh hay còn gọi Hòn Lao còn khá nguyên sơ. Để
               đến được Hòn Ghềnh, bạn có thể đi theo dịch vụ đưa đón khách từ khách sạn, thuê ghe của
               ngư dân với giá khoảng 200.000 đồng/thuyền 10 người, bao gồm cả lượt đi và về. Sau chừng
               10 phút lênh đênh trên biển ta sẽ được đặt chân lên hòn đảo. Ấn tượng đầu tiên là nước
               biển trong vắt, có thể nhìn thấy những tán san hô dưới đáy đẹp, những ghềnh đá lớn nhỏ
               chồng chất lên nhau. Ngắm cảnh Hòn Lao, đi vào buổi chiều là tuyệt nhất, bởi bạn sẽ thấy
               được ráng chiều và hoàng hôn phủ dần trên biển. Sáng sớm là thời gian thích hợp cho những
               tay câu nghiệp dư.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/bau-trang-bau-sen-phan-thiet.webp"
                     alt="Khu vực xung quanh Mũi Né  - Bàu trắng – Bàu sen"/>
                <figcaption class="text-muted">Khu vực xung quanh Mũi Né - Bàu trắng, Bàu sen
                </figcaption>
            </figure>
            <p>Bàu trắng – Bàu sen: Cách Hòn Rơm 18 km. Đây là hai hồ nước ngọt thiên nhiên nằm giữa
               những đồi cát trắng mênh mông. Bàu trắng có tên gọi khác là Bàu ông, đến nơi đây bạn sẽ
               được chiêm ngưỡng những hoa sen nở rộ và xen lẫn giữa đồi cát trắng vào mùa hè. Bàu sen
               có tên khác là Bàu bà, nơi này là biển hồ rộng mênh mông, mặt nước xanh được bao bọc bởi
               những động cát đẹp thuần khiết cùng với màu trắng tinh anh, mịn màng.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/suoi-tien-phan-thiet.webp"
                     alt="Khu vực xung quanh Mũi Né  - Suối Tiên"/>
                <figcaption class="text-muted">Khu vực xung quanh Mũi Né - Suối Tiên</figcaption>
            </figure>
            <p>Suối Tiên là một địa danh được khách du lịch Mũi Né đặt tên là “Bồng lai tiên cảnh”. Suối
               Tiên là một khe nước nhỏ nằm bên cạnh Hòn Rơm, là suối đi bộ với thung lũng cát rất đẹp.
               Bên cạnh suối là những đồi nhũ đá tự nhiên có màu đỏ và trắng. Do sự bào mòn của thời
               gian nên tạo ra những nhũ đá có hình thù kỳ lạ tự nhiên.
            </p>
        </span>

    </article>

    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6" class="post-body">
        <h2 itemprop="articleSection">6. Ăn uống tại Phan Thiết</h2>

        <span itemprop="articleBody"><h3>1. Bánh tráng cuốn dẻo:</h3>
            <p><br/> Là món bánh với hương vị thơm ngon, hấp dẫn, được chế biến với những nguyên liệu
                     khá đơn giản, bao gồm: Bánh tráng dẻo, tóp mỡ, mắm ruốc, trứng cút. Tất cả những
                     nguyên liệu được cuộn lại với nhau tạo nên một món bánh tráng cuốn dẻo thơm ngon,
                     hấp dẫn đến kì lạ mà bất cứ du khách nào đến Mũi Né – Phan Thiết đều không thể
                     không thưởng thức qua món bánh này. Món bánh tráng cuốn dẻo thường được bán vào
                     buổi chiều, bán cùng với các gánh hàng rong bán bánh tráng mắm ruốc ngoài lề đường.
                <br/> Địa chỉ: Món ăn này thường được bán vào buổi chiều tối.
            </p>
            <figure class="text-center">
                <img class="img-fluid rounded" src="/images/banh-trang-cuon-deo-phan-thiet.webp"
                     alt="Món ăn ngon - Bánh tráng cuốn dẻo"/>
                <figcaption class="text-muted"> Món ăn ngon - Bánh tráng cuốn dẻo Địa chỉ: Món ăn này
                                                thường được bán vào buổi chiều tối.
                </figcaption>
            </figure>
            <h3>2. Cá lồi xối mỡ:</h3>
            <p>
                <br/>Cá lồi xối mỡ là một trong những đặc sản được nhiều người yêu thích khi đi Phan
                     Thiết. Thịt cá mềm và ngọt thơm, ăn kèm các loại rau sống và bánh tráng chấm nước
                     mắm chua ngọt chắc chắn sẽ hấp dẫn những người khó tính nhất. Hè này làm ngay một
                     chuyến du lịch Phan Thiết và thưởng thức ẩm thực lạ miệng xứ biển này thôi nào.

                <br/>Cá lồi là loài cá có lớp da trơn bóng, nhìn sơ qua thì khá giống cá đuối. Vì chỉ
                     sống chủ yếu ở các vùng biển miền Trung nên nó trở thành món đặc sản nơi đây. Để có
                     một dĩa cá lồi xối mỡ ngon, người ta chọn con cá khoảng 1-2 ký (thường thì loại cá
                     này có thể lên đến 5 ký). Thịt cá nhỏ sẽ ngọt hơn và lớp sụn bên trong vẫn sẽ còn
                     mềm. Cá được chà lớp nhớt bên ngoài bằng lá rồi sơ chế sạch sẽ nên sẽ không có mùi
                     tanh khi ăn. <br/>Địa chỉ: Quán Xuân Vàng: Đường Phạm Văn Đồng – Phan Thiết và các
                     quán nằm trên khu vực Mũi Tàu (Bờ Kè) sát cầu Trần Hưng Đạo – Phan Thiết
            </p>
            <figure class="text-center">

                <img class="img-fluid rounded" src="/images/ca-loi-xoi-mo-phan-thiet.webp"
                     alt="Món ăn ngon - Cá lồi xối mỡ"/>
                <figcaption class="text-muted">Món ăn ngon - Cá lồi xối mỡ</figcaption>
            </figure>
            <figure class="text-center">

                <img class="img-fluid rounded" src="/images/goi-oc-giac-phan-thiet.webp"
                     alt="Món ăn ngon - Gỏi ốc giác"/>
                <figcaption class="text-muted">Món ăn ngon - Gỏi ốc giác</figcaption>
            </figure>
            <h3>3. Gỏi ốc giác:</h3>
            <p>
                <br/>Ốc giác là loại hải sản khá quen thuộc của người dân vùng biển miền Trung, nhưng có
                     khá nhiều ở miền biển Phan Thiết. Một con lớn trung bình từ 1,5 đến 2 kg. Từ ốc
                     giác người dân ở đây chế biến ra nhiều món ăn, đơn giản nhất là món ốc giác luộc.
                     Thịt ốc được cạo rửa sạch cho hết chất nhờn, mang luộc chín rồi xắt mỏng chấm nước
                     mắm gừng, tỏi ớt pha sắn rất ngon. <br/>Hấp dẫn hơn là món gỏi ốc giác. Luộc chín
                     ốc rồi xắt sợi, cùng với thịt ba chỉ hoặc thịt lợn nọng (phần cổ) cũng luộc chín,
                     xắt sợi. Đu đủ sống bào mỏng, rau răm xắt nhỏ, hành tây, đậu phộng rang, hành phi…
                     nước mắm, tỏi, ớt, chua, ngọt. <br/>Trộn đu đủ, rau răm, hành tây và ốc, thịt luộc,
                     rưới nước giấm đường pha lẫn với nhau, rắc đậu phộng và hành phi lên. Ăn kèm với
                     bánh tráng nước, có nhà ăn với bánh phồng tôm. Ốc giác mới đánh bắt lên bờ là ốc
                     tươi, thịt ốc tiết ra chất nhờn thì thịt sẽ ngon ngọt hơn tự nhiên. Còn ốc khô ráo
                     là ốc đánh bắt đã lâu ngày, thịt có mùi hôi. <br/>Nếu bạn là khách phương xa, có
                     dịp về Phan Thiết tham quan, du lịch, mời bạn ghé vào các quán ăn đặc sản nơi đây
                     để thưởng thức món gỏi ốc giác hấp dẫn này và bạn sẽ cảm nhận được hương vị thơm
                     ngon của những món ăn miền biển khác nữa. Tuy đơn sơ nhưng qua bàn tay chế biến
                     khéo léo của người dân nơi đây, món ăn trở lên phong phú và hài lòng mọi du khách
                     gần xa. <br/>Địa chỉ: Món này được bán tại khu Sở Y Tế ngay gần Ga Phan Thiết.
            </p>
            <figure class="text-center">
                <h3>4. Răng mực nướng:</h3>
                <p>
                    <br/>Nếu đến Phan Thiết, thì món răng mực sẽ là một lựa chọn vô cùng thú vị dành cho
                         bạn. Có rất nhiều món được chế biến từ răng mực như: răng mực nướng, hấp, xào
                         lăn, chiên…, thường được dọn ăn kèm đồ chua, rau răm, ớt xanh.

                    <br/>Địa chỉ: Quán răng mực nướng gần Ga Phan Thiết
                </p>
                <img class="img-fluid rounded" src="/images/rang-muc-nuong-phan-thiet.webp"
                     alt="Món ăn ngon - răng mực nướng"/>
                <figcaption class="text-muted">Món ăn ngon - Răng mực nướng</figcaption>
            </figure>
            <h3>5. Lẩu thả:</h3>
            <p>
                <br/>Lẩu thả (hay còn gọi là lẩu hải sản của vùng biển Mũi Né, Phan Thiết, Việt Nam) là
                     món ăn mà qua đó thực khách có thể khám phá và thưởng thức hương vị của chúng để có
                     thể hiểu được ý nghĩa của Ẩm thực Việt Nam. Món ăn là sự kết hợp hài hòa của các
                     thành phần nguyên liệu bao gồm các yếu tố tự nhiên : Kim, Mộc, Thủy, Hỏa, Thổ mang
                     lại sức khỏe và năng lượng cần thiết cho con người. <br/>Địa chỉ: Món này được bán
                     tại khu Sở Y Tế ngay gần Ga Phan Thiết
            </p>
            <figure class="text-center">

                <img class="img-fluid rounded" src="/images/lau-tha-phan-thiet.webp"
                     alt="Món ăn ngon - Lẩu thả"/>
                <figcaption class="text-muted">Món ăn ngon - Lẩu thả</figcaption>
            </figure>
            <h3>6. Dông nướng:</h3>
            <p>
                <br/> Đến phan thiết mà chưa ăn giông nướng thì các bạn chưa đến phan thiết đó, con này
                      cực kỳ sạch vì chỉ ăn muỗi, uống nứơc sương chứ không như Kỳ đà ăn thịt chết. Các
                      bạn đi mùa mưa thì Dong mới mập, chọn con nào nhìn rằn ri, dữ dằn, bụng & chân
                      dính cát đỏ nhiều thì là Dong Tuy Phong ngon hơn. Dã chiến thì nướng muối ớt là đã
                      nhất. Nhớ ăn Dong cái ngon hơn Dong đực. Nhưng ăn kiểu này là góp phần gây hại cho
                      thiên nhiên hoang dã vì đây là loài thiên địch có ích <br/>Địa chỉ: Quán 49: 49
                      Phạm Văn Đồng (bờ kè sông Cà Ty)
            </p>
            <figure class="text-center">

                <img class="img-fluid rounded" src="/images/dong-phan-thiet.webp"
                     alt="Món ăn ngon - Dông nướng"/>
                <figcaption class="text-muted">Món ăn ngon - Dông nướng</figcaption>
            </figure>
            <h3>7. Cá bò hòm:</h3>
            <p>
                <br/>Sở dĩ được gọi là "cá bò hòm" bởi vì hình dạng bên ngoài vuông vắn trong giống hòm
                     gỗ, lớp da bên ngoài thì dày, nhám như da bò. Cá bò hòm rất hiếm vì chúng hay sống
                     ở các vùng đầm, vịnh và phải chờ đến mùa mới có, nhưng đến mùa thì lại không có với
                     số lượng nhiều. Ngoài tên "cá bò hòm" thì loài cá này còn được ưu ái cho cái tên :
                     "gà nước mặn" vì thịt dai, ngọt như thịt gà. Trọng lượng của loại cá này cũng không
                     lớn, chỉ dao động từ 0.3-2.5kg/con. <br/>Địa chỉ: Ngay gần Ga Phan Thiết
            </p>
            <figure class="text-center">

                <img class="img-fluid rounded" src="/images/ca-bo-hom-phan-thiet.webp"
                     alt="Món ăn ngon - Cá bò hòm"/>
                <figcaption class="text-muted">Món ăn ngon - Cá bò hòm</figcaption>
            </figure>
        </span>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _author2 _datePublished3 _url6">
        <h2 itemprop="articleSection">Tổng kết </h2>

        <span itemprop="articleBody">
            <p>Thời tiết Phan Thiết nắng nóng khá gay gắt, bạn cần chuẩn bị thật kĩ càng các trang phục
               như mũ rộng vành, kính mát, khăn choàng mỏng che nắng, áo khoác… và quan trọng nhất là
               đừng quên kem chống nắng.

                <br/>Nếu chu đáo hơn bạn nên mang theo cho mình vài chai nước khoáng để chống khát khi
               tham quan đồi cát. Để tiện tham gia các trò chơi trượt cát thì bạn cũng nên chuẩn bị hành
               lý gọn nhẹ thôi nhé.

                <br/>Dịch vụ tại các điểm du lịch Phan Thiết như thuê xe jeep, ván trượt ở đồi cát; thuê
               thuyền ở Bàu Trắng… đều là tự phát, giá do chủ thuê quyết định. Tốt nhất bạn cần hỏi giá
               kĩ, tham khảo giá nhiều nơi và trả giá hợp lý trước khi sử dụng.
            </p>
            <hr/>
            <p>Nếu thấy hay hãy like và chia sẻ cho bạn bẻ, và nếu bạn muốn tìm hiểu về nơi nào hãy liên
               hệ với chúng tôi.
            </p>
        </span>

    </article>
</section>
