<section class="post">
    <!--  Phần giới thiệu  -->
    <article id="_articleBody4" itemprop="articleBody" class="post-introduction">
        <p>Nằm phía Tây Bắc tổ quốc, Sapa ẩn chứa bao điều kỳ diệu của cảnh sắc thiên nhiên, con người.
           Thị trấn trong mây hấp dẫn du khách với quang cảnh núi non hùng vĩ cùng nhiều trải nghiệm độc
           đáo khám phá cuộc sống của đồng bào dân tộc thiểu số. Vì thế ăn gì, đi chơi ở đâu và đi như
           thế nào luôn là câu hỏi của những người chưa đến SaPa hoặc đã lâu không ghé thăm mảnh đất này
           cảm thấy cực kì bối rối. Vì vậy hôm nay chúng tôi sẽ giúp các bạn về tất cả điều ấy nhé.
        </p>
        <p>Sapa có thứ tài nguyên vô giá đó là khí hậu trong lành mát mẻ, mang nhiều sắc thái đa dạng.
           Nằm ở độ cao trung bình 1.500m – 1.800m với nhiệt độ trung bình 15-18°C. Từ tháng 5 đến tháng
           8, Sapa có mưa nhiều. Cuối năm, khi mùa đông đến, nhiệt độ ở Sapa có thể xuống dưới 0 độ, đôi
           khi có tuyết rơi.
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">
        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6 _articleSection27 _articleBody28">
            <meta itemprop="image"
                  content="https://thongtindulich.azurewebsites.net/images/dinh-fansipan.webp">
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h2 itemprop="articleSection">1. Những nơi
                                                                                            không thể bỏ
                                                                                            qua khi tới
                                                                                            SaPa </h2>
            <h3 itemprop="articleSection">Nhà thờ đá cổ SaPa</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/nha-tho-da-sapa.webp">
                <img class="img-fluid rounded" src="/images/nha-tho-da-sapa.webp"
                     alt="Du lịch SaPa - Nhà thờ đá cổ SaPa"/>
                <figcaption class="text-muted"> Địa điểm du lịch - Nhà thờ đá cổ SaPa"</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Toạ lạc ngay trung tâm thị trấn SaPa, được xây dựng từ năm 1985 và được xem là một
                   dấu ấn cổ toàn vẹn của người Pháp còn sót lại. Nhà thờ Đá Sapa tu dưỡng và bảo tồn,
                   trở thành hình ảnh không thể thiếu mỗi khi đến đây.
                </p>
                <p>Ngôi nhà thờ này nằm ngay giữa Trung tâm thị trấn. Phía trước là một sân vận động
                   rộng. Hằng ngày, người dân tộc tập trung đông đúc ở đây mua bán, trao đổi hàng hóa.
                   Đây cũng chính là nơi mà thứ 7 hàng tuần réo rắt tiếng khèn gọi bạn của những đôi
                   trai gái trong phiên chợ tình mang đầy nét văn hóa dân tộc và hơi thở núi rừng. Những
                   tòa biệt thự rêu phong và cũ kỹ có vẻ đẹp riêng của nó, tạo thành một khung cảnh "nền
                   cũ lâu đài bóng tịch dương" rất đặc trưng. Nhất là khi những bóng dáng xa xưa đó thấp
                   thoáng ẩn hiện trong màn sương mờ ảo không khỏi khiến lòng người bâng khuâng.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h3 itemprop="articleSection">Núi Hàm
                                                                                            Rồng</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/nui-ham-rong.webp">
                <img class="img-fluid rounded" src="/images/nui-ham-rong.webp"
                     alt="Du lịch SaPa - Núi Hàm Rồng"/>
                <figcaption class="text-muted">Địa điểm du lịch - Núi Hàm Rồng"</figcaption>
            </figure>
            <p itemprop="articleBody"> Trên đỉnh hàm rồng, ta có thể quan sát toàn cảnh SaPa, thung lũng
                                       Mường Hoa, bản Tả Phìn mờ mờ ảo ảo trong làn sương. Lên đây, du
                                       khách như lạc vào cõi tiên, mây giăng kín khắp thân người.
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h3 itemprop="articleSection">Thung lũng
                                                                                            Mường
                                                                                            Hoa</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/thung-lung-muong-hoa.webp">
                <img class="img-fluid rounded" src="/images/thung-lung-muong-hoa.webp"
                     alt="Du lịch SaPa - Thung lũng Mường Hoa"/>
                <figcaption class="text-muted">Địa điểm du lịch - Thung lũng Mường Hoa"</figcaption>
            </figure>
            <p itemprop="articleBody"> Nếu có dịp đến SaPa, đừng bỏ lỡ chuyến tàu hoả ngắm trọn thung
                                       lũn g Mường Hoa tại đây. Đó chắc chắn là một trải nghiệm cực khó
                                       quên đối với bất kì ai!
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h3 itemprop="articleSection">Bản Cát
                                                                                            Lát</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/ban-cat-lat.webp">
                <img class="img-fluid rounded" src="/images/ban-cat-lat.webp"
                     alt="Du lịch SaPa - Bản Cát Lát"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bản Cát Lát, Nơi yên bình để chiêm
                                               ngưỡng cảnh quan
                </figcaption>
            </figure>
            <p itemprop="articleBody"> Nằm cách trung tâm SaPa 2 km, đây là một bản làng người Mông yên
                                       bình, còn bảo tồn nhiều phong tục và các nghề thủ công truyền
                                       thống như dệt vải, chạm trổ bạc, chế tác trang sức… Con đường đến
                                       bản khá đẹp, bạn sẽ đi qua những đoạn đường cua tay áo uốn lượn,
                                       hai bên là các thửa ruộng bậc thang lấp ló các mái nhà dân tộc.
                                       Đi qua cây cầu Si là tới trung tâm bản Cát Cát, nơi hội tụ của ba
                                       dòng suối: suối Tiên Sa, suối Vàng và suối Bạc.
            </p>
        </span>
        <h3 id="_articleSection27" itemprop="articleSection">Fansifan-nóc nhà Đông Dương</h3>
        <figure class="text-center">
            <img class="img-fluid rounded" src="/images/dinh-fansipan.webp"
                 alt="Du lịch SaPa - Đỉnh Fansipan"/>
            <figcaption class=" text-muted">Địa điểm du lịch - Đỉnh Fansipan, Nóc nhà Đông
                                            Dương"
            </figcaption>
        </figure>
        <figure class="text-center">
            <img class="img-fluid rounded" src="/images/cap-treo-fansipan.webp"
                 alt="Du lịch SaPa - Cáp treo Fansipan"/>
            <figcaption class="text-muted">Địa điểm du lịch - Cáp treo Fansipan</figcaption>
        </figure>

        <span id="_articleBody28" itemprop="articleBody">
            <p> Fansipan là ngọn núi cao nhất bán đảo Đông Dương (3.143 m), nằm ở trung tâm dãy Hoàng
                Liên Sơn. Cách thị trấn Sapa 9 km về phía Tây Nam.
            </p>
            <p> Để chinh phục đỉnh núi này du khách có hai lựa chọn: Một là tham gia các tour leo bộ,
                dành cho các bạn trẻ thể hiện khát khao, bản lĩnh để thử thách bản thân mình, hoặc những
                người thích khám phá mạo hiểm. Để có thể tham gia hành trình này bạn cần phải có một sức
                khỏe thật tốt, chuẩn bị đầy đủ các vật dụng thiết yếu và yếu tố không thể thiếu nữa là
                người dẫn đường.
            </p>
            <p> Lựa chọn thứ hai là với sự ra đời của hệ thông cáp treo Fansipan – Sun World Fansipan
                Legend đã biến ước mơ của nhiều người thành hiện thực, chinh phục “Nóc nhà Đông Dương”
                chưa bao giờ lại dễ dàng như vậy.
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h3 itemprop="articleSection">Chợ phiên Bắc Hà</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/cho-phien-bac-ha.webp"
                     alt="Du lịch SaPa - Chợ phiên Bắc Hà"/>
                <figcaption class="text-muted">Địa điểm du lịch - Chợ phiên Bắc Hà - phiên chợ lớn nhất
                                               vùng cao biên giới
                </figcaption>
            </figure>
            <p itemprop="articleBody">Bắc Hà là chợ phiên thuộc loại lớn nhất vùng cao biên giới. Đến
                                      chợ phiên Bắc Hà vào chủ nhật hàng tuần, du khách vừa được thưởng
                                      thức đặc sản địa phương như thắng cố, phở chua, mèn mén... vừa
                                      tham quan chợ chó hay mua đồ thổ cẩm làm quà lưu niệm. Thật tuyệt
                                      vời để khi kết thúc chuyến đi tại nơi đây.
            </p>
        </span>


    </article>
    <!--  Phần nội dung phần 2  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h2 itemprop="articleSection">2. Những món ngon ở SaPa </h2>
            <h3 itemprop="articleSection">Cá hồi tươi</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/lau-dau-ca-hoi.webp">
                <img class="img-fluid rounded" src="/images/lau-dau-ca-hoi.webp"
                     alt="Thông tin du lịch - Cá hồi tươi"/>
                <figcaption class="text-muted">Món ăn đặc sản - Lẩu đầu cá hồi</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Khác với cá hồi nhập khẩu thường có vị béo, cá hồi được nuôi ở SaPa thịt chắc, săn.
                   Dưới tiết trời lạnh của SaPa, một nồi lẩu cá hồi nóng hổi ăn cùng các loại rau tươi
                   đặc trưng vùng ôn đới như súp lơ trắng, ngồng cải,... sẽ làm cho thực khách nhớ mãi
                   không quên. Cá hồi cũng có thể thái lát mỏng để làm gỏi hoặc nướng.
                </p>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/sashimi.webp"
                         alt="Thông tin du lịch - Sashimi"/>
                    <figcaption class="text-muted">Món ăn đặc sản - Sashimi cá hồi</figcaption>
                </figure>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h3 itemprop="articleSection">Lợn cắp nách</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/lon-cap-nach.webp"
                     alt="Món ăn đặc sản - Lợn cắp nách"/>
                <figcaption class="text-muted">Món ăn đặc sản - Lợn cắp nách</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p> Lợn cắp nách phải tự đi kiếm ăn. Đây là cách chăn nuôi phổ biến của người dân ở vùng
                    cao. Họ thường không có chuồng trại chăn nuôi, mặc cho những chú lợn tự kiếm ăn
                    trong rừng. Vì chỉ ăn lá cây, ngọn cỏ, củ dại… ở trong rừng nên giống lợn này rất
                    bé, thường chỉ nặng cỡ 10kg-15kg. Vì vậy nên người dân dễ dàng “cắp nách” mang ra
                    chợ bán.
                </p>
                <p>Lợn được làm sạch, tẩm ướp rồi để nguyên con nướng hoặc quay. Đến khi da lợn chuyển
                   sang màu vàng rụm là lúc thực khách có thể thưởng thức món đặc sản trứ danh này. Từ
                   lớp bì giòn tan, đến lớp thịt nạc ngọt lịm, hương vị đậm đà trong từ thớ thịt chắc
                   chắn sẽ chinh phục khẩu vị của bất cứ ai.
                </p>
                <p>Nếu thịt chó thì phải có mắm tôm thì khi thưởng thức thịt lợn cắp nách, nhất định
                   phải có lá nhội và hạt dổi hoặc hạt xẻn đi cùng. Những thứ gia vị độc đáo ở vùng cao
                   này được giã cùng với muối và ớt xanh, tạo thành một món chấm đi kèm không thể thiếu.
                </p>
                <p>Hãy tìm đến những địa điểm ăn uống nơi đây để thưởng thức hương vị tuyệt vời của nó
                   nhé.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h3 itemprop="articleSection">Rau tươi</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/rau-susu.webp">
                <img class="img-fluid rounded" src="/images/rau-susu.webp"
                     alt="Thông tin du lịch - Rau Susu"/>
                <figcaption class="text-muted">Món ăn đặc sản - Rau susu</figcaption>
            </figure>
            <p itemprop="articleBody"> Sapa nổi tiếng nhất với các loại rau thuộc vùng ôn đới như: súp
                                       lơ, củ cải đỏ, su su,… nhưng loại rau đặc biệt nhất là ngồng với
                                       rất nhiều loại như: ngồng tỏi, ngồng cải, ngồng su hào, ngồng su
                                       su. Người dân Sapa rất sáng tạo trong việc kết hợp các loại rau
                                       này trong các món nướng giúp đồ nướng Sapa ngon mà lại không
                                       nhanh ngán. Nếu có dịp đến đây, bạn đừng bỏ lỡ thướng thức những
                                       món ăn đặc trưng tại đây nhé!
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h3 itemprop="articleSection">Đồ nướng SaPa</h3>
            <span itemprop="articleBody">
                <p> Đồ nướng SaPa là 1 trong những đặc sản không thể bỏ qua khi bạn tới đây. Thời tiết
                    SaPa rất lạnh, quanh năm lạnh nên ăn đồ nướng ở đây sẽ có cảm giác ngon miệng và ấm
                    áp. Hơn nữa đồ nướng nơi đây rất thơm và có vị rất "lạ". Đây chính là điểm khác biệt
                    so với nơi khác. Nếu đến SaPa thì đừng quên thưởng thức vị "lạ" của nó nhé.
                </p>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/trung-banh-trang-nuong.webp"
                         alt="Thông tin du lịch - Trứng, bánh tráng nướng"/>
                    <figcaption class="text-muted">Món ăn đặc sản - Trứng nướng, bánh tráng nướng
                    </figcaption>
                </figure>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/xien-nuong.webp"
                         alt="Thông tin du lịch - Xiên nướng"/>
                    <figcaption class="text-muted">Món ăn đặc sản - Xiên nướng thơm phức</figcaption>
                </figure>
                <p>Vậy đồ nướng ngon ở đâu?</p>
                <p>Đồ nướng SaPa bán nhiều nhất vào buổi tối. Chúng ta có thể đến những khu vực sau:</p>
                <p>1.Khu vực hồ SaPa</p>
                <p>2.Đường xuống chợ SaPa - phố Cầu Mây</p>
                <p>3.Trong chợ SaPa</p>
            </span></span>

    </article>
    <!--  Phần nội dung phần 3  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h2 itemprop="articleSection">3. Di chuyển đến SaPa như thế nào? </h2>
            <h3 itemprop="articleSection">Tàu hoả</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/tau-hoa.webp">
                <img class="img-fluid rounded" src="/images/tau-hoa.webp"
                     alt="Thông tin du lịch - Tàu hoả"/>
                <figcaption class="text-muted">Phương tiện du lịch - Tàu hoả</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Tại sao lại không nhỉ? Tàu hoả là phương tiện công cộng cực kì phổ biến khi bạn muốn
                   đi bất cứ đâu dọc miền tổ quốc. Và đối với các tín đồ chụp ảnh thì tàu hoả là phương
                   tiện không thể bỏ qua. Những bức hình từ trên tàu luôn có nét đẹp rất riêng, và nhiều
                   người thích điều bình dị như thế. Trên tàu, bạn có thể vừa nghỉ ngơi vừa có thời gian
                   ngắm cảnh đẹp .
                </p>
                <p>Giá vé tàu hoả cũng không mắc hơn quá nhiều so với đi ô tô khách. Tuỳ cự ly và tuỳ
                   từng loại ghế mà giá vé sẽ giao động theo nó.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h3 itemprop="articleSection">Xe máy</h3>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/xe-may.webp">
                <img class="img-fluid rounded" src="/images/xe-may.webp"
                     alt="Thông tin du lịch - Xe máy"/>
                <figcaption class="text-muted">Phương tiện du lịch - Xe máy</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Phong cách du lịch phượt bằng xe máy luôn mang đến những trải nghiệm thú vị cho người
                   đi bởi bạn hoàn toàn hưởng thụ sự tự do như ý muốn của mình. Bạn muốn đi đến đâu, đi
                   như thế nào, ăn uống ra làm sao, ngủ nghỉ ở đâu... là tùy ý bạn. sẽ không phải lo
                   lắng đến sự hối thúc của hướng dẫn viên. Thay vào đó mình sẽ tự do tìm tới những địa
                   điểm vui chơi riêng. Chính vì lẽ đó, du lịch bụi bằng xe máy được rất nhiêu các bạn
                   trẻ yêu thích.
                </p>
                <p>Sẽ thật tuyệt vời với những bức ảnh được lưu giữ lại thanh xuân của chúng ta trên
                   những chuyến đi ấy.
                </p>
            </span></span>
    </article>
    <!--  Phần nội dung phần 4  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h2 itemprop="articleSection">4. Ở đâu khi đến SaPa?</h2>
            <p itemprop="articleBody">Sẽ có những lựa chọn riêng dành cho mỗi người. Nhiều người thích
                                      sự sang trọng, đẳng cấp thì có thể đến những Khách sạn hoặc Resort
                                      4-5 sao để nghỉ dưỡng và trải nghiệm. Số khác yêu thích sự giản
                                      đơn, bình dị, hoà mình cùng thiên nhiên để tĩnh lặng về tâm hồn
                                      sau những ngày dài làm việc căng thẳng, mệt mỏi. Họ có thể vào
                                      những Homestay để nghỉ nơi
            </p>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6"><h3 itemprop="articleSection">Khách sạn và
                                                                                            Resort</h3>
            <h4 itemprop="articleSection">Victoria SaPa Resort & Spa</h4>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/victoria-resort.webp">
                <img class="img-fluid rounded" src="/images/victoria-resort.webp"
                     alt="Thông tin du lịch - Victoria SaPa Resort & Spa ("/>
                <figcaption class="text-muted">
                    Địa điểm nghĩ dưỡng - Toàn cảnh khu nghỉ dưỡng Victoria SaPa Resort & Spa
                </figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Nằm ở vùng cao nguyên xa xôi phía Tây Bắc Việt Nam bên dãy núi Hoàng Liên Sơn.</p>
                <p>Được xây dựng từ năm 1998, Victoria SaPa Resort & Spa là khách sạn 4 sao sang trọng
                   đầu tiên và duy nhất tại vùng núi Tây Bắc. Nơi đây được ví như một biệt thự nhỏ theo
                   phong cách những nhà gỗ truyền thống miền núi, với điểm nhấn thiết kế trần nhà cao,
                   xà ngang bằng gỗ và những hoạ tiết khảm đá cầu kỳ xuyên suốt kiến trúc đặc biệt kết
                   hợp phong cách Pháp cổ điển và những chi tiết đậm đà nét bản địa.
                </p>
                <p>Với một vị trí thuận lợi, tầm nhìn hướng ra bản làng miền núi Sapa và hòa điệu với
                   phong cảnh hoang sơ, hùng vĩ của thiên nhiên, núi rừng, Victoria Sapa Resort & Spa
                   được bầu chọn là “Best Hotel in the North-West Region" (Khách sạn đẹp nhất miền Tây
                   Bắc) năm 2004 và 2005. Gần đây nhất, Khách sạn Victoria Sapa Resort & Spa được bầu
                   chọn là một trong 25 khách sạn tốt nhất trên toàn Việt Nam với giải thưởng Traveler’s
                   Choice 2013 bởi các du khách quốc tế trên trang thông tin du lịch nổi tiếng thế giới
                   Tripadvisor.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h4 itemprop="articleSection">Khách sạn Pao’s Sapa Leisure</h4>
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/sapa-leisure.webp">
                <img class="img-fluid rounded" src="/images/sapa-leisure.webp"
                     alt="Thông tin du lịch - Khách sạn Pao’s Sapa Leisure"/>
                <figcaption class="text-muted">Nơi ở - Khách sạn Pao’s Sapa Leisure</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Khách sạn Pao’s Sapa Leisure tọa lạc tại vị trí đắc địa trên sườn đồi với tầm nhìn ôm
                   trọn núi non hùng vĩ, những thửa ruộng bậc thang mướt xanh và thung lũng Mường Hoa
                   thơ mộng, Pao’s Sapa Leisure Hotel là một trong những khách sạn 5 sao nổi bật tại thị
                   trấn Sapa.
                </p>
                <p>Được đầu tư và vận hành bởi CTX Holdings, Pao’s Sapa Leisure mang đến cho du khách
                   điểm nghỉ dưỡng mang đậm bản sắc văn hóa địa phương, hòa quyện tinh tế cùng nội thất
                   tiêu chuẩn và tiện nghi hoàn hảo. Sở hữu những đường cong duyên dáng được thiết kế
                   hài hòa với cảnh quan thiên nhiên xung quanh, Pao’s Sapa Leisure chắc chắn sẽ là điểm
                   dừng chân lý tưởng để thư giãn và khơi dậy những giác quan của bạn.
                </p>
            </span></span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _datePublished2 _url5 _author6">
            <h3 itemprop="articleSection">Homestay đẹp ở SaPa:</h3>
            <h4 itemprop="articleSection">Sali House</h4>
            <span itemprop="articleBody">
                <p> Cách Sapa chỉ 20 phút đi xe, nằm cuối bản Tả Van, Sali House có cái tên rất "tây",
                    dễ nhớ và thân thương như chính bản thân của nó vậy. Ở bất kỳ vị trí nào của
                    homestay, bạn cũng có thể phóng tầm nhìn ra thiên nhiên xanh mướt. Đây chắc chắn sẽ
                    là trải nghiệm khó quên của bất kỳ vị khách nào khi ở lại đây.
                </p>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/sali-house.webp"
                         alt="Thông tin du lịch - Sali-house"/>
                    <figcaption class="text-muted">Nơi ở - Phía trong Sali House nhìn ra ngoài
                    </figcaption>
                </figure>
                <figure class="text-center">
                    <img class="img-fluid rounded" src="/images/sali-house1.webp"
                         alt="Thông tin du lịch - Sali-house"/>
                    <figcaption class="text-muted">Nơi ở - Sali-house</figcaption>
                </figure>
                <p>Nhiều người tìm đến Sali House đơn giản là muốn trốn cái sự xô bồ của thành thị, nên
                   đừng bất ngờ khi có khách ở đây cả tuần mà không biết chán. Đối với họ, chỉ cần một
                   nơi thoáng đãng, dễ chịu và yên tĩnh để đọc sách. Mỗi ngày ra chợ mua thức ăn về tự
                   nấu và thưởng thức trong cái tiết trời vừa mát mát vừa lành lạnh của Sapa, vậy là quá
                   đủ cho một chuyến đi.
                </p>
            </span></span>
    </article>
    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->
    <article itemscope itemtype="http://schema.org/Article"
             itemref="_name1 _datePublished2 _url5 _author6">
        <h2 itemprop="articleSection">Phần kết</h2>

        <span itemprop="articleBody">
            <p>Du lịch Sapa được nhắc tới như những bữa ăn hàng ngày nơi đây như chốn bồng lai tiên cảnh
               với vẻ đẹp mang đậm hình ảnh, cảnh sắc tự nhiên được tạo dựng từ thiên nhiên thiên nhiên
               vô cùng quyến rũ mang hơi thở của cuộc sống bình yên và thơ mộng , lôi cuốn.Hãy một lần
               du lịch Sapa để tìm về với núi đồi nơi bắt đầu của sự bình yên nơi sẽ giúp bạn không chỉ
               chiêm ngưỡng cảnh sắc mà mẹ thiên nhiên đã an tặng cho Sapa mà còn cảm nhận được sức mộc
               mạc và giản dị qua những phong tục tập quán và trải nghiệm với nét đẹp con người Sapa
               bình dị và gần gũi.
            </p>
            <p>Thành phố Sapa làm tôi mê mẩn và đắm say cùng nó. Sapa vẫn giữ được nét nguyên sơ và lãng
               mạn. Thanh bình, tĩnh lặng nhưng không buồn chán, bao phủ cả thành phố là sương mù nhưng
               vẫn cảm thấy ấm áp.
            </p>
            <p>Ở đây, tôi có thể tận hưởng được cảm giác ôm sương mai vào mình và hòa quyện cùng với
               thiên nhiên, phóng tầm mắt bao núi non cảnh trời Tây Bắc.
            </p>

            <div class="text-center">
                <p>Hạ về lên với Sa Pa</p>
                <p>Ngắm xem phong cảnh ngọc ngà thần tiên</p>

                <p>Mây giăng đỉnh núi diệu huyền</p>
                <p>Hàm rồng hoa thắm trinh nguyên lụa là</p>
            </div>
            <p>Bạn còn chần chờ gì nữa mà không lập cho mình một kế hoạch du lịch Sapa trong kì nghỉ sắp
               tới. Tôi tin rằng bạn sẽ có một cuộc trải nghiệm cực kì thú vị cùng người yêu, gia đình
               hay bạn bè của bạn đấy.
            </p>
            <p>Và hãy chia sẻ cho chúng tôi những khoảnh khắc của bạn cùng với SaPa nhé. Thân!!!</p>

        </span>

        <hr/>
    </article>
</section>
