<section class="post">
    <!--  Phần giới thiệu  -->
    <article id="_articleBody6" itemprop="articleBody" class="post-introduction">
        <p class="lead">Đà Nẵng địa điểm du lịch không ai không biết!</p>
        <p>Bạn đã từng muốn đến Đà Nẵng hay đã đến rồi nhưng lại chẳng đi được đâu rồi lại ngậm ngùi trờ
           về chưa? Đó là vì bạn chưa có một cẩm nang để du lịch một cách hợp lý và đầy đủ nhất.
        </p>
        <p>Đến với Đà Nẵng bạn cần chọn mùa, chọn địa điểm phù hợp thời gian để có trải nghiệm tốt nhất:
            <br/> <br/>- Từ tháng 2 đến tháng 8 hàng năm: là thời điểm lí tưởng đi Đà Nẵng do Đà Nẵng
           mùa mưa bắt đầu từ cuối tháng 8 đến hết tháng 11. Lúc này khí hậu rất đẹp, ít mưa, không có
           bão nên rất lí tưởng cho các hoạt động tham quan, nghỉ dưỡng và vui chơi, giải trí. <br/>-
           Vào tháng 12 và tháng 1 sẽ lạnh một chút nên không thích hợp với tắm biển, vậy nên có lẽ đi
           Đà Nẵng đẹp nhất vẫn là vào các tháng 2,3,4. <br/>- Các tháng hè cao điểm 5,6,7,8 thường sẽ
           đông và giá cao hơn, nên nếu các bạn có yêu cầu về chi phí cho chuyến đi của mình thì có thể
           cân nhắc nhé!
        </p>
    </article>
    <!--  Phần nội dung của phần 1	 -->
    <article class="post-body">
        <h2 id="_articleSection5" itemprop="articleSection">1. Đà Nẵng và ta phải đi đâu? </h2>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection9">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/van-hoa-du-lich-da-nang-mytour-1.webp">
                <img class="img-fluid rounded" src="/images/van-hoa-du-lich-da-nang-mytour-1.webp"
                     alt="Văn hóa du lịch Đà Nẵng"/>
                <figcaption class="text-muted">Thành phố Đà Nẵng</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p>Đà Nẵng đúng vậy, vùng đất của nắng của những cảnh đẹp mà không phải nơi nào cũng có.
                   Những vẻ đẹp đem lại cho con người sự thoải mái mà ai cũng nên đến một lần trong đời.
                </p>
                <p>Không chỉ thu hút du khách trong nước mà cả du khách ngoài nước cũng không thể cưởng
                   lại cái đẹp của vùng đất này.
                </p>
            </span></span>
    </article>


    <!--  Phần nội dung phần phụ 1  -->
    <article class="post-body">
        <h3 id="_articleSection9" itemprop="articleSection">* Cù Lao Chàm </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection13">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Cu-lao-cham.webp">
                <img class="img-fluid rounded" src="/images/Cu-lao-cham.webp"
                     alt="Du lịch Đà Nẵng - Cù Lao Chàm"/>
                <figcaption class="text-muted">Địa điểm du lịch - Cù Lao Chàm</figcaption>
            </figure>

            <span itemprop="articleBody">
                <p> Đảo nhỏ xinh đẹp Cù Lao Chàm với quần thể san hô lung linh, bãi cát mịn và bờ biển
                    sóng vỗ , không gian trải rộng, trong lành và ngắm hoàng hôn thơ mộng sẽ khiến bạn
                    mê mẩn.
                </p>
                <p>Tới đây bạn sẽ được thưởng thức nhiều món hải sản tươi ngon như: Cua đá, bào ngư, ốc
                   vú nàng, mực một nắng, yến sào,…ăn kèm với rau rừng mang hương vị đặc trưng của đảo
                   Cù Lao. Đặc biệt với kinh nghiệm du lịch Đà Nẵng, bạn không nên bỏ qua tour Sea Trek,
                   chắc chắn sẽ mang lại cho chuyến đi của bạn đầy sự thú vị và lý thú, không thể nào
                   quên được !
                </p>
            </span></span>
    </article>


    <!--  Phần nội dung phần phụ 2  -->
    <article class="post-body">
        <h3 id="_articleSection13" itemprop="articleSection">* Bà Nà Hills</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _articleSection17 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/cay-cau-vang.webp">
                <img class="img-fluid rounded" src="/images/cay-cau-vang.webp"
                     alt="Du lịch Đà Nẵng - Bà Nà Hill"/>
                <figcaption class="text-muted">Địa điểm du lịch - Ba Ba Hills</figcaption>
            </figure>

            <p itemprop="articleBody">Được mệnh danh là chốn tiên cảnh với khí hậu 4 mùa vô cùng đặc
                                      biệt, Bà Nà Hills là nơi được nhiều các bạn trẻ chụp hình và
                                      check-in khi đến Đà Nẵng. Không gian thiên nhiên rộng rãi với một
                                      màu xanh tươi mát cộng với cảnh quan tuyệt đẹp ở Bà Nà, chắc hẳn
                                      sẽ làm phông nền lý tưởng cho những bức ảnh của bạn.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">
        <h3 id="_articleSection17" itemprop="articleSection">* Bãi tắm Non nước </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection21">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/bai-bien-non-nuoc-ivivu.webp">
                <img class="img-fluid rounded" src="/images/bai-bien-non-nuoc-ivivu.webp"
                     alt="Du lịch Đà Nẵng - Biển Non Nước"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bãi tắm Non nước</figcaption>
            </figure>

            <p itemprop="articleBody">dài 5km có khu du lịch với đồi thông thoáng mát dưới Ngũ Hành Sơn.
                                      Bãi tắm cát trắng mịn, có độ dốc thoai thoải, sóng êm. Nước biển
                                      không bị ô nhiễm, trong sạch, cuốn hút khách du lịch trong và
                                      ngoài nước đến với du lịch Đà Nẵng.
            </p>
        </span>

    </article>
    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">
        <h3 id="_articleSection21" itemprop="articleSection">* Làng chiếu Cẩm Nê</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection25">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/lang-chieu-cam-ne-ivivu.webp">
                <img class="img-fluid rounded" src="/images/lang-chieu-cam-ne-ivivu.webp"
                     alt="Du lịch Đà Nẵng - Làng Chiếu Nê"/>
                <figcaption class="text-muted">Địa điểm du lịch - Làng chiếu Cẩm Nê</figcaption>
            </figure>

            <p itemprop="articleBody">Làng chiếu Cẩm Nê là làng thủ công mỹ nghệ đã có từ lâu đời với
                                      tuổi đời hơn 500 năm, với nghề dệt chiếu đã có từ rất lâu sẽ mang
                                      lại cho du khách không khí của ngày xưa. Chỉ cách trung tâm thành
                                      phố 15km tại sao bạn lại bỏ qua địa điểm du lịch này.
            </p>
        </span>
    </article>
    <!--  Phần nội dung phần phụ 5 -->
    <article class="post-body">
        <h3 id="_articleSection25" itemprop="articleSection">* Giếng Trời</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection29">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/gieng-troi.webp">
                <img class="img-fluid rounded" src="/images/gieng-troi.webp"
                     alt="Du lịch Đà Nẵng - Giếng Trời"/>
                <figcaption class="text-muted">Địa điểm du lịch - Giếng Trời</figcaption>
            </figure>

            <p itemprop="articleBody">Là địa điểm du lịch khá nổi tiếng trên các trang mạng xã hội trong
                                      thời gian vừa qua có lẽ sẽ là địa điểm lý tưởng và rất được mong
                                      chờ của mọi người đặc biệt là các bạn trẻ.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 6 -->
    <article class="post-body">
        <h3 id="_articleSection29" itemprop="articleSection">* Biển Mỹ Khê</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _articleSection33 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/bien-my-khe-da-nang-seatrek.webp">
                <img class="img-fluid rounded" src="/images/bien-my-khe-da-nang-seatrek.webp"
                     alt="Du lịch Đà Nẵng - Biển Mỹ Khê"/>
                <figcaption class="text-muted">Địa điểm du lịch - Biển Mỹ Khê</figcaption>
            </figure>

            <p itemprop="articleBody">Bãi biển Mỹ Khê với cát trắng mịn, sóng biển ôn hòa, nước ấm quanh
                                      năm, hàng dừa thơ mộng bao quanh, song song với các hoạt động câu
                                      cá, lướt ván, lặn, du thuyền… khiến bạn khó lòng bỏ qua. Đặc biệt
                                      bạn đừng bỏ lỡ buổi chiều lãng mạn khi ánh hoàng hôn buôn xuống
                                      trên bãi biển Mỹ Khê nhé!
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 7 -->
    <article class="post-body">
        <h3 id="_articleSection33" itemprop="articleSection">* Bảo tàng điêu khắc Chăm</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection37">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/bao-tang-cham.webp">
                <img class="img-fluid rounded" src="/images/bao-tang-cham.webp"
                     alt="Du lịch Đà Nẵng - Bảo Tàng Chăm"/>
                <figcaption class="text-muted">Địa điểm du lịch - Bảo tàng điêu khắc Chăm</figcaption>
            </figure>

            <p itemprop="articleBody">Được xây dựng từ năm 1915 và khánh thành vào năm 1919. Đến nay bão
                                      tàng đã thu thập được gần 2000 hiện vật lớn nhỏ, các hiện vật mang
                                      những nét cổ xưa của thời hưng thịnh của vương quốc Chăm Pa.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần 2  -->
    <article class="post-body">
        <h2 id="_articleSection37" itemprop="articleSection">2. Phương tiện đi Đà Nẵng </h2>
        <p id="_articleBody42" itemprop="articleBody">Tất cả nhé chỉ cần muốn đi là sẽ có: máy bay, ô tô
                                                      thì khỏi nói, xe máy (dân phượt chỉnh hiệu), tàu
                                                      hỏa,… hay kể cả đi bộ nếu bạn muốn nổi tiếng. Đà
                                                      Nẵng là một nơi rất phát triển và nổi tiếng nên
                                                      phát triển về cơ sở hạ tầng giao thông là điều
                                                      đương nhiên. Chỉ sợ không có tiền đi chứ muốn đi
                                                      thì cỡ nào cũng được.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody42">
            <h3 itemprop="articleSection">* Máy bay</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/MAY-BAY.webp"
                     alt="Thông tin du lịch - Máy bay"/>
                <figcaption class="text-muted">Phương tiên du lịch - Máy bay</figcaption>
            </figure>
        </span>

        <p id="_articleBody46" itemprop="articleBody">Máy bay là phương tiện rất tiện lợi cho mọi người
                                                      trong di chuyển đặc biệt là trong du lịch vì tốc
                                                      độ cao và an toàn. Nhưng chi phí bỏ ra để đi máy
                                                      bay khá cao hơn so với các phương tiện khác.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody46">
            <h3 itemprop="articleSection">* Tàu hỏa</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/tau-hoa.webp"
                     alt="Thông tin du lịch - Tàu Hỏa"/>
                <figcaption class="text-muted">Phương tiên du lịch - Tàu hoả</figcaption>
            </figure>
        </span>

        <p id="_articleBody50" itemprop="articleBody">Tàu hỏa là phương tiện khá tốt nhưng hiện tại thì
                                                      cũng khá ít người dùng vì nhiều yếu tố khác nhau.
                                                      Nhưng việc lựa chọn tàu hỏa cũng là một lựa chọn
                                                      tốt vì nó khá an toàn và giá cả lại phải chăng.
        </p>


    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _articleBody50 _datePublished3">
            <h3 itemprop="articleSection">* Xe khách, Tour</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/xe-khach.webp"
                     alt="Thông tin du lịch - Xe Khách"/>
                <figcaption class="text-muted">Phương tiên du lịch - Xe khách</figcaption>
            </figure>
        </span>

        <p id="_articleBody54" itemprop="articleBody">Xe khách cũng như đặt tour là phương tiện có lẽ
                                                      được ưu ái nhất nhì trong việc du lịch vì tính cơ
                                                      động cũng như tiện lợi của nó. Nhưng có lẽ đây
                                                      cũng chưa phải là phương tiện được lựa chọn nhiều
                                                      nhất của du lịch hiện tại.
        </p>
    </article>

    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody54">
            <h3 itemprop="articleSection">* Mô tô, Phượt</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/Phuot.webp"
                     alt="Thông tin du lịch - Mô tô"/>
                <figcaption class="text-muted">Phương tiên du lịch - Mô tô</figcaption>
            </figure>
        </span>

        <p id="_articleBody57" itemprop="articleBody">Phượt là thú vui cũng như cách xả stress tốt nhất
                                                      của giới trẻ. Mô tô hiện tại đang được sử dụng để
                                                      đi du lịch trong nước rất nhiều vì tính cơ động và
                                                      tiết kiệm chi phí rất cao của loại hình du lịch
                                                      này.
        </p>

    </article>


    <!--  Phần nội dung phần 3  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody57">
            <h2 itemprop="articleSection">3. Các món ăn đặc sản </h2>
        </span>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection60">
            <p itemprop="articleBody">Đà Nẵng không chỉ được biết đến với nhiều bờ biển đẹp, nhiều danh
                                      thắng làm say lòng du khách mà nơi đây còn có nhiều món ăn khiến
                                      ai đã từng thưởng thức đều nhớ mãi không quên. Xin giới thiệu
                                      những đặc sản món ăn ngon, đậm chất riêng của ẩm thực Đà Nẵng mà
                                      khi du lịch Đà Nẵng bạn không nên bỏ qua.
            </p>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/mam-com.webp"
                     alt="Măm Cơm"/>
                <figcaption class="text-muted"></figcaption>
            </figure>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">
        <h3 id="_articleSection60" itemprop="articleSection">* Mì Quảng</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_articleSection64 _name1 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/my-quang.webp">
                <img class="img-fluid rounded" src="/images/my-quang.webp"
                     alt="Du lịch Đà Nẵng - Mỳ Quảng"/>
                <figcaption class="text-muted">Món ăn đặc sản - Mì Quảng</figcaption>
            </figure>

            <p itemprop="articleBody">Đến với Đà Nẵng hãy một lần ăn mì Quảng để cảm nhận hương vị mì
                                      Quảng mang đậm chất con người xứ Quảng, đậm đà, ngọt ngào,... mà
                                      ta không thể cưởng lại.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">
        <h3 id="_articleSection64" itemprop="articleSection">* Mực rim me Đà Nẵng </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection68">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Muc-rim-me.webp">
                <img class="img-fluid rounded" src="/images/Muc-rim-me.webp"
                     alt="Du lịch Đà Nẵng - Mực rim me"/>
                <figcaption class="text-muted">Món ăn đặc sản - Mực rim me Đà Nẵng</figcaption>
            </figure>
            <p>
                <span itemprop="articleBody">Mực rim me là một đặc sản “vạn người mê” ở Đà Nẵng. Mực
                                             tươi được rửa và phơi nắng, tạo nên độ dai mà không bị khô,
                                             cứng. Khi thưởng thức, bạn sẽ thấy được vị chua ngọt đậm đà
                                             của me thấm vào từng miếng mực dai, ăn cùng cơm hoặc làm đồ
                                             nhắm với bia thì “thơm ngon hết sẩy”. Thực sự đây là món
                                             quà đặc sản Đà Nẵng hết sức ý nghĩa cho người thân</span>.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">
        <h3 id="_articleSection68" itemprop="articleSection">*Nai khô Đà Nẵng </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection72">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Nai-kho-.webp">
                <img class="img-fluid rounded" src="/images/Nai-kho-.webp"
                     alt="Du lịch Đà Nẵng - Nai khô"/>
                <figcaption class="text-muted">Món ăn đặc sản - Nai khô Đà Nẵng</figcaption>
            </figure>

            <p itemprop="articleBody">Nai khô cũng là một trong những đặc sản Đà Nẵng mua về làm quà phổ
                                      biến và rất được người dân Đà Nẵng và khách du lịch gần xa lựa
                                      chọn vào túi quà của mình. Nai khô Đà Nẵng có vị thơm, cay đậm,
                                      khi ăn thì dùng tay xé nhỏ ra từng miếng. Món này được đóng gói
                                      nên có thể bảo quản được lâu, rất hợp với các cuộc nhậu cùng bạn
                                      bè, không cần phải chế biến lại nên vô cùng thuận tiện cho những
                                      chuyến phượt hay hành trình xa.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 4 -->
    <article class="post-body">
        <h3 id="_articleSection72" itemprop="articleSection">*Nước mắm Nam Ô Đà Nẵng </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection76">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Nuoc-mam-Nam-O.webp">
                <img class="img-fluid rounded" src="/images/Nuoc-mam-Nam-O.webp"
                     alt="Du lịch Đà Nẵng - Nước mắm Nam ô"/>
                <figcaption class="text-muted">Món ăn đặc sản - Nước mắm Nam Ô Đà Nẵng</figcaption>
            </figure>

            <p itemprop="articleBody">Món ngon nhờ nước chấm, không chỉ là nước chấm mà có thể nói đây
                                      như một món ăn chính. Mang hương vị đậm đà của biển cả mà chỉ Đà
                                      Nẵng mới có. Ngoài việc thưởng thức tại chỗ chúng ta còn có thể
                                      mua về làm quà cũng như sử dụng.
            </p>
        </span>
    </article>


    <!--  Phần nội dung phần phụ 5 -->
    <article class="post-body">
        <h3 id="_articleSection76" itemprop="articleSection">* Rong biển Mỹ Khê</h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_articleSection80 _name1 _author2 _datePublished3">
            <figure class="text-center">
                <meta itemprop="image"
                      content="https://thongtindulich.azurewebsites.net/images/Rong-bien-My-Khe.webp">

                <img class="img-fluid rounded" src="/images/Rong-bien-My-Khe.webp"
                     alt="Du lịch Đà Nẵng - Rong biển"/>
                <figcaption class="text-muted">Món ăn đặc sản - Rong biển Mỹ Khê</figcaption>
            </figure>

            <p itemprop="articleBody">Biển Mỹ Khê – Đà Nẵng không chỉ được nhiều du khách biết đến với
                                      cảnh đẹp mê đắm lòng người mà còn do rong biển Mỹ Khê, nguyên liệu
                                      được nhiều chị em nội trợ yêu thích để nấu canh, xào, salad, sốt
                                      đậu… Các món làm từ rong biển Mỹ Khê có màu xanh tươi bắt mắt cùng
                                      vị ngọt đậm đà.
            </p>
        </span>
    </article>

    <!--  Phần nội dung phần phụ 6 -->
    <article class="post-body">
        <h3 id="_articleSection80" itemprop="articleSection">* Bánh tráng cuốn thịt heo
        </h3>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleSection84">
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/banh-trang-cuon.webp"
                     alt="Du lịch Đà Nẵng - Bánh tráng cuốn thịt heo"/>
                <figcaption class=" text-muted"> Món ăn đặc sản - Bánh trán cuốn thịt heo</figcaption>

            </figure>

            <p itemprop="articleBody">Bánh tráng cuốn thịt heo thì có lẽ nơi nào cũng có và mỗi chúng ta
                                      cũng đã từng ăn rất nhiều nhưng nếu có 1 lần ghé thăm vùng đất này
                                      thì hãy ghé lại và ăn thử món ăn này vì không nơi nào giống nơi
                                      này.
            </p>
        </span>

    </article>


    <!--  Phần nội dung phần 4  -->
    <article class="post-body">
        <h2 id="_articleSection84" itemprop="articleSection">4. Đi Đà Nẵng thì ở đâu? </h2>
        <p id="_articleBody89" itemprop="articleBody">Đà Nẵng là địa điểm du lịch? Có gì phải bàn cải
                                                      nữa khi một địa điểm chuyên phát triển về dịch vụ
                                                      du lịch thì các resort, khách sạn, nhà nghĩ,… là
                                                      điều không bao giờ thiếu và nếu liệt kê chắc phải
                                                      tới mai mới xong như:
        </p>
    </article>

    <!--  Phần nội dung phần phụ 1 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody89">
            <h3 itemprop="articleSection">* Vinpearl Đà Nẵng Resort & Villas</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/vinpearl-resort-2.webp"
                     alt="Thông tin du lịch - Vinpearl Đà Nẵng Resort & Villas"/>
                <figcaption class="text-muted">Nơi ở - Vinpearl Đà Nẵng Resort & Villas</figcaption>
            </figure>
        </span>

        <span id="_articleBody93" itemprop="articleBody">
            <p> Tọa lạc tại thành phố ven biển Đà Nẵng ở miền Trung Việt Nam, bên bờ biển Non Nuoc bình
                dị, Khu nghỉ dưỡng & Spa Đà Nẵng bao gồm 122 biệt thự với phong cách tân cổ điển, hồ bơi
                riêng và tầm nhìn rộng ra đại dương trên Biển Đông.
            </p>
            <p>Tiêu chuẩn: 5 sao</p>
        </span>


    </article>
    <!--  Phần nội dung phần phụ 2 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody93">
            <h3 itemprop="articleSection">* A La Carte Da Nang Beach</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded"
                     src="/images/Riverside-Hotel-Quang-Binh-768x374.webp"
                     alt=" Thông tin du lịch - A La Carte Da Nang Beach"/>
                <figcaption class="text-muted">Nơi ở - A La Carte Da Nang Beach</figcaption>
            </figure>
        </span>

        <span id="_articleBody97" itemprop="articleBody">
            <p> Địa chỉ: 200 Vo Nguyen Giap, Son Tra, Danang, Vietnam</p>

            <p>Với không khí và tiện ích của khu nghĩ dưỡng mang lại cho bạn bạn sẽ cảm nhận được một
               thiên đường thật sự..
            </p>
        </span>

    </article>

    <!--  Phần nội dung phần phụ 3 -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _articleBody97 _author2 _datePublished3">
            <h3 itemprop="articleSection">* Cocobay Boutique Hotels Da Nang</h3>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/cocobay.webp"
                     alt="Thông tin du lịch - Cocobay Boutique Hotels Da Nang"/>
                <figcaption class="text-muted">Nơi ở - Cocobay Boutique Hotels Da Nang</figcaption>
            </figure>
        </span>
        <p id="_articleBody101" itemprop="articleBody">Tọa lạc ở vị trí trung tâm du lịch Đà Nẵng - Hội
                                                       An, tổ hợp Du lịch và Giải trí Cocobay như một
                                                       viên ngọc tuyệt mỹ nổi bật giữa khung cảnh nên
                                                       thơ của biển trời Đà Nẵng. Với tổng diện tích 31
                                                       ha bao gồm bãi biển xanh ngát trải dài 600m thơ
                                                       mộng, Cocobay mang đến những trải nghiệm chưa
                                                       từng có về du lịch, lưu trú, giải trí và là biểu
                                                       tượng mới của phong cách sống thời thượng.
        </p>


    </article>


    <!--  Phần nội dung phần 5  -->
    <article class="post-body">

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody101">
            <h2 itemprop="articleSection">5. Phương tiện đi lại </h2>
            <figure class="text-center">
                <img itemprop="image" class="img-fluid rounded" src="/images/phuong-tien.webp"
                     alt="Phương tiện du lịch "/>
                <figcaption class="text-muted">Phương tiện du lịch</figcaption>
            </figure>
        </span>

        <span id="_articleBody104" itemprop="articleBody">
            <p>Ai đi xe riêng thì chắc khỏi nói đến phần này nhỉ! Còn đối với các bạn đi Ô tô, máy bay,
               tàu hỏa,.. thì chắc đang nhứt nhói vì đi thì sợ bị chặt chém không biết có tiền về nhà
               không, không đi thì tiết tiết. Dưới đây mình xin được giới thiệu một vài cách đi hiệu
               quả:
            </p>
            <ol>
                <li>Dịch vụ xe ô tô đưa đón tại Đà Nẵng (rẻ hơn taxi)</li>
                <p>Trước chuyến đi, khi đã có lịch hạ cánh ở sân bay Đà Nẵng, các bạn có thể liên hệ
                   trước với dịch vụ xe đưa đón từ sân bay tới trung tâm Thành Phố Đà Nẵng hoặc tới
                   thẳng Hội An (có thể là địa chỉ các bạn đặt khách sạn) để di chuyển nhanh, chủ động
                   và tiết kiệm tiện nghi nhất, khoảng 15.000/1km cho xe 4 chỗ và 16.000/1km cho xe 7
                   chỗ vì Đà Nẵng đang hot về du lịch Biển.
                </p>
                <li>Taxi (không thể thiếu)</li>
                <p>Taxi cũng là một lựa chọn hợp lý, vì thành phố khá nhỏ nên chi phí cũng không quá
                   đắt. Có rất nhiều hãng luôn sẵn sàng phục vụ khách hàng, hầu hết các xe đều có chất
                   lượng cao, phục vụ tận tình như: <br/>Taxi Mai Linh – (0236). 3.56.56.56 – Taxi Hàng
                   Không – (0236).3.27.27.27 – Taxi Sông Hàn – (0236).3.72.72.72 – Taxi Vinasun Green –
                   (0236).3.68.68.68 <br/>Tuy nhiên, ở Đà Nẵng taxi không phải lựa chọn tối ưu, vì giá
                   cao.

                    <br/>Với thời đại công nghệ bạn không nên bỏ qua dịch vụ Grab khi đến Đà Nẵng.
                </p>
                <li>Bus</li>
                <p>Một số tuyến xe buýt bạn có thể tham khảo nếu muốn cảm giác trải nghiệm và cũng tiết
                   kiệm chi phí: <br/>Tuyến số 1: Bến xe Đà Nẵng – Bến xe Hội An: Thời gian hoạt động
                   hàng ngày: 5 giờ 30 đến 17 giờ 50. <br/>Tuyến số 2: Kim Liên – Chợ Hàn – Thời gian
                   hoạt động hàng ngày: 5 giờ 30 đến 18 giờ 00. <br/>Tuyến số 3: Bến xe Đà Nẵng – Bến xe
                   Ái Nghĩa – Thời gian hoạt động: từ 5 giờ 30 đến 17 giờ 00. <br/>Tuyến số 4: Đà Nẵng –
                   Tam Kỳ – Thời gian hoạt động hàng ngày: 5 giờ đến 18 giờ 00. <br/>Tuyến số 6: Đà Nẵng
                   – Phú Đa – Thời gian hoạt động hàng ngày: 5 giờ 15 đến 16 giờ 45.
                </p>
                <li>Thuê xe máy, xe khách</li>
                <p> Địa chỉ: 126/6 Trần Cao Vân Đà Nẵng <br/>Điện thoại: 0903 529 586 <br/>Webiste:
                    https://atdanang.com
                </p>
            </ol>
        </span>
    </article>


    <!--  Phần kết : Đúc kết nội dung, kêu gọi hành động(chia sẽ) -->


    <article>

        <span itemscope itemtype="http://schema.org/Article"
              itemref="_name1 _author2 _datePublished3 _articleBody104"><h2 itemprop="articleSection">
                Kết lại</h2></span>

        <span itemscope itemtype="http://schema.org/Article" itemref="_name1 _author2 _datePublished3">
            <span itemprop="articleBody">
                <p>Nếu Hồng Kong là con rồng của châu Á thì thật sự Đà Nẵng là con rồng đang vùng vẫy
                   trở mình trong suốt khoản thời gian qua. Đà Nẵng đã đầu tư vào ngành du lịch để không
                   chỉ phục vụ khác nước ngoài mà còn cả khác trong nước cũng trải nghiệm được những
                   dịch vụ tốt nhất.
                </p>
                <p>Đến với vùng đất này bạn sẽ cảm nhận được sự ấm áp của cái nắng cũng như tình người
                   nơi này. Nếu đúng mùa thì Đà Nẵng còn có rất nhiều lễ hội hấp dẫn mà bạn có thể hòa
                   mình cùng với sự vui tươi nơi đó.
                </p>
                <p>Hãy đến với Đà Nẵng để biết được hang động to nhất thế giới, đừng nhìn về Kim Tự
                   Tháp, Vạn Lý Trường Thành,... mà quên rằng ngay chính đất nước Việt Nam này có những
                   thứ mà có lẽ rất nhiều người đã bỏ quên.
                </p>
            </span></span>

        <hr/>
    </article>
</section>
