<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="<%= domain %>  - Trang cung cấp thông tin và kiến thức về du lịch hàng đầu Việt Nam.">
	<meta name="author" content="<%= domain %> ">
	<meta name="keywords" content="">
    <link href="https://thongtindulich.azurewebsites.net/pages/404" rel="canonical">
	<title>Trang này đang được nâng cấp</title>

	<% include ../partials/first_external_library.ejs%>


</head>

<body>

	<% include ../partials/homepage_nav.ejs %>

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->

		<div class="home_slider_container">

			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item 01 -->
				<div class="owl-item home_slider_item">
					<!-- Image by https://unsplash.com/@anikindimitry -->
					<div class="home_slider_background" style="background-image:url(/images/under-construction-webpage.jpg)"></div>

					<div class="home_slider_content text-center">
						<div class="home_slider_content_inner" data-animation-in="flipInX"
							 data-animation-out="animate-out fadeOut">
							<h1>Oops !!!</h1>
							<h1>Trang đang được xây dựng </h1>
							<div class="button home_slider_button">
								<div class="button_bcg"></div>
								<a href="/#pagetop">Quay về Trang chủ <span></span><span></span><span></span></a></div>
						</div>
					</div>
				</div>
			</div>

	</div>
	<!--Thêm Footer-->
	<% include ../partials/footer %>
	<!--Thêm thư viện js -->
	<% include ../partials/last_external_library.ejs %>
</body>

</html>