<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/topic/ve-chung-toi">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Về chúng tôi</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>
</head>

<body>


    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="/images/about_background.jpg"></div>
        <div class="home_content">
            <div class="home_title">Về chúng tôi</div>
        </div>
    </div>

    <!-- about_intro -->

    <div class="about_intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about_intro_image"><img src="/images/intro.png" alt=""></div>
                </div>
                <div class="col-lg-5">
                    <div class="about_intro_content">
                        <div class="about_intro_title">Chúng tôi có thông tin chất lượng nhất!</div>
                        <p class="about_intro_text">
                            Nội dung các bài viết trên website của chúng tôi được viết bởi đội ngũ tác giả có trình độ
                            chuyên môn, cùng với quy trình kiểm duyệt nội dung vô cùng chặt chẽ. Chúng tôi cam kết mang
                            đến cho bạn thông tin hấp dẫn, hữu ích nhất.
                        </p>
                        <div class="button about_intro_button">
                            <div class="button_bcg"></div>
                            <a href="/#pagetop">khám phá ngay<span></span><span></span><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stats -->

    <div class="stats">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">Thống kê thông tin qua các năm</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <p class="stats_text">Website tuy mới thành lập tháng 5/2019 nhưng chúng tôi đã và đang nổ lực để ngày
                        một hoàn thiện hơn. Mục tiêu vươn tầm website miển phí mang đẳng cấp khu vực!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="stats_years">
                        <div class="stats_years_last">5/2019</div>
                        <div class="stats_years_new float-right">6/2019</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="stats_contents">

                        <!-- Stats Item -->
                        <div class="stats_item d-flex flex-md-row flex-column clearfix">
                            <div class="stats_last order-md-1 order-3">
                                <div class="stats_last_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_1.png" alt="">
                                </div>
                                <div class="stats_last_content">
                                    <div class="stats_number">0</div>
                                    <div class="stats_type">Khách hàng</div>
                                </div>
                            </div>
                            <div class="stats_bar order-md-2 order-2" data-x="1642" data-y="3527" data-color="#31124b">
                                <div class="stats_bar_perc">
                                    <div>
                                        <div class="stats_bar_value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stats_new order-md-3 order-1 text-right">
                                <div class="stats_new_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_1.png" alt="">
                                </div>
                                <div class="stats_new_content">
                                    <div class="stats_number">100</div>
                                    <div class="stats_type">Khách hàng</div>
                                </div>
                            </div>
                        </div>

                        <!-- Stats Item -->
                        <div class="stats_item d-flex flex-md-row flex-column clearfix">
                            <div class="stats_last order-md-1 order-3">
                                <div class="stats_last_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_2.png" alt="">
                                </div>
                                <div class="stats_last_content">
                                    <div class="stats_number">0</div>
                                    <div class="stats_type">Khách hàng quay lại</div>
                                </div>
                            </div>
                            <div class="stats_bar order-md-2 order-2" data-x="768" data-y="145" data-color="#a95ce4">
                                <div class="stats_bar_perc">
                                    <div>
                                        <div class="stats_bar_value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stats_new order-md-3 order-1 text-right">
                                <div class="stats_new_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_2.png" alt="">
                                </div>
                                <div class="stats_new_content">
                                    <div class="stats_number">20</div>
                                    <div class="stats_type">Khách hàng quay lại</div>
                                </div>
                            </div>
                        </div>

                        <!-- Stats Item -->
                        <div class="stats_item d-flex flex-md-row flex-column clearfix">
                            <div class="stats_last order-md-1 order-3">
                                <div class="stats_last_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_3.png" alt="">
                                </div>
                                <div class="stats_last_content">
                                    <div class="stats_number">0</div>
                                    <div class="stats_type">Tương tác đạt được</div>
                                </div>
                            </div>
                            <div class="stats_bar order-md-2 order-2" data-x="11546" data-y="9321" data-color="#fa6f1b">
                                <div class="stats_bar_perc">
                                    <div>
                                        <div class="stats_bar_value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stats_new order-md-3 order-1 text-right">
                                <div class="stats_new_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_3.png" alt="">
                                </div>
                                <div class="stats_new_content">
                                    <div class="stats_number">100</div>
                                    <div class="stats_type">Tương tác đạt được</div>
                                </div>
                            </div>
                        </div>

                        <!-- Stats Item -->
                        <div class="stats_item d-flex flex-md-row flex-column clearfix">
                            <div class="stats_last order-md-1 order-3">
                                <div class="stats_last_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_4.png" alt="">
                                </div>
                                <div class="stats_last_content">
                                    <div class="stats_number">0</div>
                                    <div class="stats_type">Bài viết</div>
                                </div>
                            </div>
                            <div class="stats_bar order-md-2 order-2" data-x="3729" data-y="17429" data-color="#fa9e1b">
                                <div class="stats_bar_perc">
                                    <div>
                                        <div class="stats_bar_value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stats_new order-md-3 order-1 text-right">
                                <div class="stats_new_icon d-flex flex-column align-items-center justify-content-end">
                                    <img src="/images/stats_4.png" alt="">
                                </div>
                                <div class="stats_new_content">
                                    <div class="stats_number">10</div>
                                    <div class="stats_type">Bài viết</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add -->

    <div class="add">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="add_container">
                        <div class="add_background" style="background-image:url(/images/icon-du-lich-da-lat.webp)"></div>
                        <div class="add_content">
                            <h1 class="add_title">Du lịch Đà Lạt</h1>
                            <!--<div class="add_subtitle">From <span>$999</span></div>-->
                            <div class="button add_button">
                                <div class="button_bcg"></div>
                                <a href="#">Đọc ngay<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Milestones -->

    <div class="milestones">
        <div class="container">
            <div class="row">

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="/images/milestone_1.png" alt=""></div>
                        <div class="milestone_counter" data-end-value="100">0</div>
                        <div class="milestone_text">Khách hàng</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="/images/milestone_2.png" alt=""></div>
                        <div class="milestone_counter" data-end-value="50">0</div>
                        <div class="milestone_text">Khách hàng trở lại</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="/images/milestone_3.png" alt=""></div>
                        <div class="milestone_counter" data-end-value="5">0</div>
                        <div class="milestone_text">Vùng lãnh thổ</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="/images/milestone_4.png" alt=""></div>
                        <div class="milestone_counter" data-end-value="50">0</div>
                        <div class="milestone_text">Tương tác</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>
    <% include ../partials/ui_version_02_last_library.ejs %>


</body>

</html>