<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/forgot-password">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Trang Quên mật khẩu</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>

</head>

<body class="bg-gradient-primary">
    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>
    <div class="container" style="margin-top:150px">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div id="note" class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div  class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2" id="lol">Bạn đã quên mật khẩu tài khoản của mình?</h1>
                                        <p class="mb-4">Chúng tôi sẽ khôi phục tài khoản cho bạn. Bạn chỉ cần nhập địa chỉ
                                                        email của bạn bên dưới và chúng tôi sẽ gửi bạn một liên kết để
                                                        đặt lại mật khẩu của bạn!
                                        </p>
                                    </div>
                                    <div id = "form">
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="email" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                    </form>
                                        <button id="forgotpassword" onclick="forgot()" class="btn btn-primary btn-user btn-block"> Reset
                                                                                                   Password </button>
                                </div>
                                <hr>
                                    <div class="text-center">
                                        <a class="small" href="/loginregister/register">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/loginregister/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                <script type="text/javascript" >
                                    function forgot(){
                                        var email = document.getElementById("email").value
                                        console.log(email)
                                        $.ajax({
                                            url: '/loginregister/forgotPassword',
                                            data: {
                                                email : email
                                            },
                                            error: function() {
                                                // $('#info').html('connect');
                                            },
                                            dataType: 'json',
                                            success: function(data) {
                                                if(!(data.data))
                                                {console.log("vào")

                                                    $("#lol").css({"color":"red"})

                                                    $("#lol").html(`Email: `+email+` của bạn không tồn tại. Vui lòng kiểm tra lại`)
                                                }
                                                else {
                                                        $("#form").remove()
                                                    $("#lol").html(`Vui lòng kiểm tra Email: `+email +` của bạn`)
                                                }
                                            },
                                            type: 'POST'
                                        });
                                    }

                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>
    <% include ../partials/ui_version_02_last_library.ejs%>

</body>

</html>
