<div >
    <div >
        <form>
            <div class="form-group">
                <select id="Select_theme">
                    <optgroup label="Chủ Đề">
                        <option value="1" selected="selected">Du lịch Miền Bắc</option>
                        <option value="2">Du lịch Miền Trung</option>
                        <option value="3">Du lịch Miền Nam</option>
                        <!--<option value="1" selected="selected">Du lịch Sapa</option>
                        <option value="2">Du lịch Hà Nội</option>-->
                    </optgroup>
                    <!-- <optgroup label="Miền Trung">

                         <option value="4">Du lịch Huế</option>
                         <option value="4">Du lịch Đà Nẵng</option>
                         <option value="5">Du lịch Nha Trang - Đà Lạt</option>
                         <option value="5">Du lịch Đà Lạt</option>
                         <option value="5">Du lịch Quảng Bình</option>
                     </optgroup>
                     <optgroup label="Miền Nam">

                         <option value="7">Du lịch Vũng Tàu</option>
                         <option value="7">Du lịch Phan Thiết</option>
                     </optgroup>-->
                </select>
            </div>
            <button type="button" id="button_filter"  class="btn btn-primary" >Tìm Kiếm</button>
        </form>
    </div>
</div>