<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img src="/images/logo.png" alt="">Travel Information</a>
                            </div>
                        </div>
                        <p class="footer_about_text">
                            Travel là website thuộc tên miền thongtindulich.azurewebsites.net , Đội ngủ phát triển
                            website hướng đến xây dựng một website miễn phí, một cộng đồng chia sẻ thông tin hữu ích về
                            du lịch khắp thế giới.
                        </p>
                        <ul class="footer_social_list">
                            <li class="footer_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">Blogs đề nghị</div>
                    <div class="footer_content footer_blog">
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="/images/icon-du-lich-da-lat.webp"
                                                                alt="Thông tin du lịch - Du lịch Đà Lạt"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="post?post=du-lich-da-lat">Du lịch Đà Lạt với chúng tôi</a>
                                </div>
                                <div class="footer_blog_date">May 22, 2019</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="/images/icon-du-lich-da-nang.webp"
                                                                alt="Thông tin du lịch - Du lịch Đà Nẵng"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="post?post=du-lich-da-nang">Du lịch Đà Nẵng với chúng tôi</a>
                                </div>
                                <div class="footer_blog_date">May 22, 2019</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="/images/icon-du-lich-hue.webp"
                                                                alt="Thông tin du lịch - Du lịch Huế"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="post?post=du-lich-hue">Du lịch Huế với chúng tôi</a></div>
                                <div class="footer_blog_date">May 22, 2019</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">tags</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="?topic=news">thông tin du lịch</a></li>
                            <li class="tag_item"><a href="?topic=news">địa diểm du lịch</a></li>
                            <li class="tag_item"><a href="?topic=tips">cẩm nang du lịch</a></li>
                            <li class="tag_item"><a href="?topic=tips">kiến thức du lịch</a></li>
                            <li class="tag_item"><a href="?topic=news">danh lam, thắng cảnh</a></li>
                            <li class="tag_item"><a href="?topic=the-best-hotel">khách sạn tốt</a></li>
                            <li class="tag_item"><a href="?topic=the=best-food">món ăn ngon</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">Thông tin liên hệ</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/placeholder.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text">Khu phố 6, phường Linh Trung, quận Thủ Đức</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/phone-call.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text">033-992-7799 or 0847-22-1818</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/message.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text"><a href="mailto:thongtindulich@gmail.com?Subject=Hello"
                                                                  target="_top"> thongtindulich@gmail.com</a>
                                </div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/planet-earth.svg" alt=""></div>
                                </div>
                                <div
                                        class="contact_info_text"><a href="<%=domain%>>"><%=domain%></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>Copyright
                         &copy;<script>document.write(new Date().getFullYear());</script>
                         Tất cả quyền được bảo lưu | Mẫu được phát triển từ mẫu gốc được thiết kế bởi <i
                                class="fa fa-heart-o"
                                aria-hidden="true"></i> <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                    <div class="footer_nav">
                        <ul class="footer_nav_list">
                            <li class="footer_nav_item"><a class="js-scroll-trigger" href="/#pagetop">Trang chủ</a></li>
                            <li class="footer_nav_item"><a class="js-scroll-trigger" href="/#trend">Xu hướng</a></li>
                            <li class="footer_nav_item"><a href="?topic=the-best-hotel">Khách sạn TỐT</a></li>
                            <li class="footer_nav_item"><a href="?topic=the-best-food">Món ăn NGON</a></li>
                            <li class="footer_nav_item"><a href="?topic=news">Tin Mới</a></li>
                            <li class="footer_nav_item"><a href="?topic=contact">Liên hệ</a></li>
                            <li class="footer_nav_item"><a href="?topic=about-us">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
