<!--Footer-->
<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul class="main_nav_list">
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="/#pagetop">Trang chủ</a></li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="/#trend">Xu hướng</a></li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="?topic=khach-san-tot">Khách sạn TỐT</a></li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="?topic=mon-an-ngon">Món ăn NGON</a></li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="?topic=tin-moi">Tin Mới</a>
                    </li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="?topic=lien-he">Liên hệ</a>
                    </li>
                    <li class="main_nav_item">
                        <a class="js-scroll-trigger" href="?topic=ve-chung-toi">Về chúng tôi</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright"> ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                                         , được phát triển <i class="fa fa-heart heart"></i> bởi UIT_Team
                </span>
            </div>
        </div>
    </div>
</footer>