<!-- Comments Display-->
<!-- Single Comment -->
<section id="comment-area" class="col-md-12 col-lg-12">
    <div class="card mt-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 col-lg-2 text-center" >
                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width:100px;height:100px;"/>
                    <p class="text-secondary text-center">15 Minutes Ago</p>
                </div>
                <div class="col-md-10 col-lg-10" style="border:1px solid red;">
                    <p style="max-height: 100px;">
                        <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                                                                                                                    Akash</strong></a>
                    </p>
                    <div class="clearfix"></div>
                    <p>abc</p>

                </div>
            </div>
            <div>
                <a class="float-right btn btn-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                <a class="float-right btn text-danger btn-primary"> <i class="fa fa-heart"></i> Like</a>
            </div>
        </div>
    </div>
</section>
